:root{
	font-size: 10px;
}

/* Varaibles */

$light: MontserratLight, sans-serif;
$regular: MontserratRegular, sans-serif;
$semibold: MontserratSemibold, sans-serif;
$medium: MontserratMedium, sans-serif;
$bold: MontserratBold, sans-serif;

$white: #fff;
$black: #000;
$red: #f4504b;
$red-title: #ff524d;
$blue: #79a1d6;
$forecast: #323845;

$menu-fz: 1.9rem;
$prog-fz: 1.5rem;
$cards-fz: 1.4rem;




/* Fonts */

@font-face{
	font-family: MontserratRegular;
	src: url(../fonts/MontserratRegular.ttf);
}
@font-face{
	font-family: MontserratLight;
	src: url(../fonts/MontserratLight.ttf);
} 
@font-face{
	font-family: MontserratSemibold;
	src: url(../fonts/MontserratSemiBold.ttf);
} 
@font-face{
	font-family: MontserratMedium;
	src: url(../fonts/MontserratMedium.ttf);
} 
@font-face{
	font-family: MontserratBold;
	src: url(../fonts/MontserratBold.ttf);
}  

/* Base styles */

body{
	margin: 0;
	overflow-x: hidden;
	font-family: $regular;
}

ul{
	padding: 0;
	margin: 0;
}

*,
*:after,
*:before{
	box-sizing: border-box;
}

li{
	list-style-type: none;
}

a{
	text-decoration: none;
	color: $black;
}

.container__full{
	width: 1700px;
	margin: 0 auto;
}

.button{
	outline: none;
	background: $red;
	border: none;
	cursor: pointer;
	transition: .2s linear;
}

.button:hover{
	background: darken($red, 5);
}

.container{
	width: 1370px;
	margin: 0 auto;
}

.red{
	color: $red-title;
}

.blue{
	color: $blue;
}

.small{
	font-size: 1.6rem;
}

/* Header */

.header{
	position: fixed;
    width: 100%;
    z-index: 100;
	background: $white;
	padding: 15px 0;
}

.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu__icon{
	display: none;
}

.profile__logo{
	display: flex;
	align-items: center;
}

.header__profile{
	display: flex;
	align-items: center;
}

.profile__user{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-right: 20px;
}

.profile__arrow{
	cursor: pointer;
	font-size: 1.5rem;
	color: grey;
	margin-left: 10px;
}

.profile__name{
	font-family: $bold;
	font-size: 3rem;
	color: $white;
	padding: 3px 40px;
	background: $red;
	border-radius: 25px;
}

.profile__console{
	margin-top: 10px;
	font-size: 2rem;
	font-family: $bold;
	color: rgba(0, 0, 0, .86);
}

.menu__icon{
	fill: $black;
	height: 30px;
	width: 30px;
	cursor: pointer;
	transition: .3s linear;
}

.menu__icon:hover{
	fill: $red;
}

.header{
	position: fixed;
    width: 100%;
    z-index: 100;
	background: $white;
	padding: 15px 0;
}

.header__menu--inner{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__menu--link{
	color: $black;
	font-size: $menu-fz;
	font-family: $medium;
	margin-right: 60px;
}

.header__menu--link:last-child{
	margin-right: 0;
}

.login{
	display: flex;
	align-items: center;
}

.header__enter{
	font-size: 1.2rem;
	color: $black;
	margin-right: 15px;
	font-family: $bold;
}

.header__register{
	padding: 8px 17px;
	font-size: 1.2rem;
	background: $red;
	color: $white;
	border-radius: 15px;
	font-family: $bold;
	transition: .2s linear;
}

.header__register:hover{
	background: darken($red, 5);
}

.forecast__mobile--top, .forecast__mobile--bottom{
	height: 35px;
	border-radius: 15px 15px 0 0;
	background: #596078;
	width: 100%;
}

.forecast__mobile--bottom{
	border-radius: 0 0 15px 15px;
}

.forecast__mobile--middle{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: $white;
	padding-bottom: 15px;
	width: 100%;
}

.forecast__mobile--button{
	color: $white;
	margin-top: 20px;
}

.forecast__middle--inner{
	width: 100%;
}

.middle__item{
	padding: 10px 30px;
	border-bottom: 1px solid #e8e8e8;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.middle__item--title, .middle__item--text, .bold, .ball{
	font-family: $bold;
	color: #5c647c;
	fill: #5c647c;
	font-size: 2rem;
}

.ball{
	width: 25px;
	height: 25px;
	margin-right: 10px;
}

.middle__item--text{
	font-family: $semibold;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 350px;
	text-align: right;
}

.price__mobile{
	fill: #5c647c;
	width: 80px;
	height: 48px;
}

/* Title */

.title{
	background: url(../img/header-bg.jpg) center no-repeat;
	background-size: cover;
	min-height: 813px;
	display: flex;
	align-items: center;
}

.title__inner{
	width: 760px;
}

.title__title{
	text-transform: uppercase;
	font-size: 3.8rem;
	font-family: $bold;
	color: $white;
	line-height: 1.3em;
}

.title__text{
	margin: 75px 0 0 55px;
	color: $white;
	font-size: 2rem;
}

.title__online{
	margin: 75px 0 0 115px;
	display: flex;
	align-items: center;
}

.online{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #304c41;
	margin-right: 25px;
	position: relative;
}

.online:before{
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20px;
	height: 20px;
	background: #30b051;
	border-radius: 50%;
}

.online__text{
	font-size: 2.3rem;
	color: $white;
}

.modal__menu--item.profile__item{
	display: none;
}

/* Forecast */

.forecast{
	padding: 45px 0px 64px;
	background: url(../img/forecast-bg.jpg) center no-repeat;
	background-size: cover;
}

.forecast__title{
	font-family: $bold;
	font-size: 3.8rem;
	color: $black;
	text-align: center;
}

.forecast__inner{
	margin-top: 40px;
}

/* Forecast Table */ 

.forecast__box{
	width: 100%;
	background: #f7f7f7;
	display: flex;
	align-items: center;
}

.forecast__list{
	padding: 24px 0 24px 35px;
	border-bottom: 2px solid #e8e8e8;
	font-family: $light;
	font-size: $prog-fz;
	box-shadow: 0 0 1px $black;
}

.forecast__bg{
	background: $forecast;
}

.forecast__bg-2{
	background: #5c647c;
}

.forecast__category{
	padding: 14px 0 14px 35px;
}

.forecast__mobile--inner{
	display: none;
	margin-top: 70px;
}

.forecast__last{
	width: 100%;
	height: 10px;
}

.categori{
	font-size: $cards-fz;
	color: $white;
}

.view{
	width: 100px;
}

.sports{
	width: 115px;
	text-align: center;
}

.game{
	width: 140px;
	text-align: center;
}

.match{
	width: 320px;
	text-align: center;
}

.koef{
	width: 124px;
	text-align: center;
}

.time{
	width: 200px;
	text-align: center;
}

.price{
	width: 170px;
	text-align: center;
}

.status{
	width: 170px;
	text-align: center;
}

.button__views{
	background: transparent;
	padding: 4px 23px;
	border: 1px solid #9cd0a7;
	border-radius: 15px;
	min-width: 142px;
	transition: .2s linear;
}

.button__views:hover{
	background: #9cd0a7;
	color: $white;
}

/* Stats */

.forecast__stats--text{
	margin-top: 85px;
	font-size: 2.8em;
} 

.stats__inner{
	margin-top: 60px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.stats__item{
	padding: 10px 40px;
	background: $white;
	border: 3px solid $red;
	border-radius: 55px 25px;
	max-width: 250px;
	min-width: 249px;
}

.stats__number{
	font-size: 3.5rem;
	color: $red;
	font-family: $medium;
}

.stats__text{
	font-size: 2.3em;
	color: #4a4a4a;
	font-family: $medium;
}

/* Checkbox */

.checkbox__inner{
	margin-top: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.checkbox__text{
	font-size: 2.7rem;
	font-family: $bold;
	text-transform: lowercase;
	display: flex;
	align-items: center;
	letter-spacing: .4rem;

	&--money{
		margin-right: 40px;
	}

	&--free{
		margin-left: 40px;
	}
}

.money{
	margin-right: 15px;
}

.free{
	margin-left: 15px;
}

.checkbox{
	background: transparent;
	border-radius: 20px;
	border: 1px solid $red;
	padding: 14px 51px;
	position: relative;
	cursor: pointer;
}

.checkbox:before{
	content: "";
	display: block;
	position: absolute;
	top: 2px;
	right: 2px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: $red;
}

.money__checkbox.checkbox:before{
	content: "";
	display: block;
	position: absolute;
	top: 2px;
	left: 2px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: $red;
}

.checkbox__red{
	color: $red;
}

.checkbox__grey{
	color: #b0b0b0;
}

.icon--grey{
	fill: #b0b0b0;
}

.icon--black{
	fill: $black;
}

.buy__button{
	border: 1px solid $red;
}

.buy__button:hover{
	background: $red;
}

.fullstats__btn{
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

.fullstats__button{
	display: flex;
	align-items: center;
	color: $white;
	font-size: $cards-fz;
	font-family: $medium;
	padding: 14px 70px;
	border-radius: 35px 20px;
}

.enter__icon{
	margin-left: 10px;
}

/* Cards */

.cards{
	padding: 135px 0px 235px 0;
	background: url(../img/cards-bg.jpg) center no-repeat;
	background-size: cover;
}

.white__title{
	color: $white;
}

.cards__inner{
	display: flex;
	align-items: center;
	margin-top: 60px;
	justify-content: space-around;
}

.cards__item{
	padding: 20px 27px;
	border-radius: 10px;
	background: $white;
	border: 1px solid $red;
	width: 20%;
	position: relative;
}

.cards__item--title{
	font-size: 1.9rem;
	font-family: $bold;
	color: $black;
	text-align: center;
}

.cards__desc__inner{
	margin-top: 95px;
}

.desc__item{
	font-size: 1.4rem;
	color: #949494;
	font-family: $medium;
	margin-top: 10px;
	display: flex;
	align-items: center;
}

.cards__price{
	font-size: 2.9rem;
	color: $red;
	font-family: $semibold;
	text-align: center;
	margin-top: 80px;
	position: relative;
}

.cards__buy--btn{
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.cards__buy--button{
	font-size: 1.9rem;
	font-family: $bold;
	color: $white;
	padding: 6px 0;
	width: 100%;
	border-radius: 10px;
	text-transform: lowercase;
}

.del{
	font-size: 2rem;
	position: absolute;
	top: -10px;
	right: 5px;
}

.cards__stiker{
	position: absolute;
	top: 65px;
	left: -25px;
	padding: 7px 60px;
	border-radius: 13px;
	font-size: 1.9rem;
	color: $white;
	font-family: $bold;
}

.stiker-1{
	background: $red;
}

.stiker-2{
	background: #87b28f;
}

.stiker-3{
	background: #8c2406;
}

.stiker-4{
	background: #ceb24f;
}

.cards__icon{
	width: 20px;
	margin-right: 10px;
}

/* Pay */

.pay__inner{
	padding: 27px 32px;
	background: $white;
	border-radius: 30px;
	margin: 100px auto 0 auto;
	width: 95%;
	display: flex;
	justify-content: space-between;
} 

.pay__logo{
	display: flex;
	width: 45%;
	justify-content: space-between;
	margin-right: 50px;
}

.pay__text{
	width: 55%;
	font-size: $cards-fz;
	color: $black;
	line-height: 1.3;
}

.bold{
	font-family: $bold;
}

/* News block */

.news__block--inner{
	display: flex;
	margin-top: 230px;
	perspective: 10000px;
}

.news__block{
	width: 50%;
	background: $white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 100px 20px 50px 20px;
	transition: .2s linear;
}

.news__block:hover{
	transform: translateZ(500px) translateY(-50px);
  	box-shadow: 0px 14px 73px 0px rgba(2, 3, 6, 0.26);
}

.news__block--box{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.news__block--title{
	margin-top: 25px;
	color: $black;
	font-size: 3rem;
	font-family: $bold;
	text-transform: uppercase;
}

.news__block--text{
	font-size: 1.7rem;
	margin-top: 35px;
}

.right__m{
	margin-left: 220px;
}

.right__l{
	margin-right: 220px;
}

.news__block--btn{
	width: 100%;
	margin-top: 30px;
}

.news__block--button{
	padding: 5px 30px;
	margin-left: 50px;
}

/* Free */

.free__block{
	padding: 195px 0px 265px 0;
	display: flex;
	align-items: center;
} 

.free__block--inner{
	display: flex;
	align-items: center;
}

.free__block--inner:nth-child(1){
	margin-right: 100px;
}

.free__content{
	margin-left: 70px;
}

.free__title{
	text-transform: uppercase;
	color: $white;
	font-family: $bold;
	font-size: 2.7rem;
}

.free__text{
	width: 360px;
	color: $white;
	font-size: 1.7rem;
	font-family: $medium;
	margin-top: 30px;
}

.vk{
	margin-right: 7px;
}

.free__button{
	margin-top: 20px;
	transition: .2s linear;
	font-size: 1.3rem;
	color: $white;
	font-family: $medium;
	background: $blue;
	display: flex;
	align-items: center;
	padding: 5px 10px;
	border-radius: 5px;
}

.free__button:hover{
	background: darken($blue, 8);
}

.support{
	padding: 85px 0 85px 45px;
	border-left: 4px solid #6e7176;
}

.support__email{
	margin-top: 20px;
	color: $white;
	font-family: $medium;
	font-size: 1.7rem;
}

.support__btns{
	margin-top: 30px;
}

.support__button{
	font-size: 2rem;
	color: $white;
	font-family: $medium;
	margin-right: 25px;
	border-radius: 25px;
	padding: 7px 25px;
}

/* Sale */

.sale{
	width: 100%;
	height: 232px;
	background: url(../img/react.jpg) center no-repeat;
	background-size: cover;
	position: relative;
} 

.sale__inner{
	padding: 20px 0px 40px 0;
	position: absolute;
	top: -80px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 330px;
	background: url(../img/sale.jpg) bottom no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.sale__title{
	font-size: 3.8rem;
	color: $black;
	font-family: $bold;
}

.sale__img{
	margin-top: 30px;
}

.sale__button{
	margin-top: 20px;
	padding: 6px 20px;
}

.menu__icons{
	font-size: 2rem;
	transition: .3s linear;
}

.menu__icons:hover{
	color: $red;
}

.stats__box{
	width: 25%;
	display: flex;
	justify-content: center;
}

.mobile{
	display: none;
}


/* Modal */

.modal__menu{
	background: $white;
	position: fixed;
	top: 0;
	left: 0;
	width: 430px;
	z-index: 1000;
	border-radius: 0 10px 10px 0;
	padding-bottom: 150px;
	transform: translateX(-100%);
	transition: .3s linear;
}

.menu__none{
	transform: translateX(0%);
}

.modal__menu--iconin{
	padding: 20px 35px;
}

.modal__menu--item{
	display: flex;
	align-items: center;
	border-top: 3px solid #ebebeb;
	padding: 15px 35px;
	color: #464646;
	font-size: 2rem;
	cursor: pointer;
	text-transform: lowercase;
	transition: .2s linear;
}

.modal__menu--item:hover{
	background: $red;
	color: $white;
}

.modal__menu--item:hover .modal__menu--icon{
	fill: $white;
}

.modal__menu--icon{
	width: 35px;
	height: 35px;
	fill: $black;
	margin-right: 20px;
	transition: .2s linear;
}

.after__item:after{
	content: "1";
	display: block;
	width: 17px;
	height: 17px;
	background: #4895fa;
	border-radius: 50%;
	font-family: $medium;
	font-size: 1rem;
	color: $white;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	right: -5px;
	top: -5px;
}

/* Way */

.way{
	background: $red;
	padding: 75px 0 16px 0;
	width: 100%;
}

.grey__way{
	background: #5d627b;
}

.way__text{
	text-align: center;
	font-size: 1.7rem;
	font-family: $regular;
	color: $white;
}

/* Fullstat */

.fullstat{
	padding: 50px 0px 120px 0;
	background: url(../img/fullstate.jpg) center no-repeat;
	background-size: cover;
	text-align: center;
}

.fullstate__title, .state__title, .fullstate__text{
	font-size: 3.8rem;
	font-family: $bold;
	color: $black;
}

.fullstate__text{
	margin-top: 40px;
	font-size: 1.3rem;
	font-family: $regular;
}

.state__title{
	font-size: 2.7rem;
	margin-top: 70px;
}

.autorization__button.reg__button{
	margin-right: 0;
}

/* Pay */

.profit{
	background: #353a49;
	padding: 50px 0;
} 

.profit__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 50px;
}

.profit__item{
	min-width: 340px;
	border-radius: 40px;
	padding: 15px 25px;
	transition: .3s linear;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.profit__item:hover{
	background: #3e4354;
}

.profit__text--item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
}

.profit__text--title, .profit__text--text{
	font-size: 3rem;
	color: #d1d1d1;
	font-family: $medium;
}

.profit__text--text{
	font-size: $prog-fz;
	font-family: $medium;
	position: relative;
}

.line__blue:after, .line__red:after,
.line__yellow:after{
	content: "";
	display: block;
	width: 150px;
	height: 4px;
	background: #4895fa;
	border-radius: 10px;
	position: absolute;
	bottom: -10px;
	left: -10px;
}

.line__red:after{
	background: #ff3d5a;
}

.line__yellow:after{
	background: #fd9a46;
}

.profit__item--img{
	margin-right: 30px;
	min-width: 73px;
	display: flex;
	justify-content: center;
}

.profit__icon{
	width: 20px;
	height: 20px;
	fill: #d1d1d1;
}

/* Chart */

.chart{
	padding: 70px 0 90px 0;
	background: $white;
} 

.chart__content{
	display: flex;
	align-items: center;
}

.chart__title{
	font-size: 3.8rem;
	font-family: $bold;
	color: #404040;
	text-align: center;
}

.chart__inner{
	padding: 20px 0;
	display: flex;
	flex-direction: column;
}

.border{
	position: relative;
}

.margin__left{
	margin-left: 60px;
}

.border:after{
	content: "";
	display: block;
	height: 450px;
	width: 8px;
	border-radius: 8px;
	background: #353a49;
	position: absolute;
	top: 0;
	right: 0;
}

.chart__box{
	display: flex;
	align-items: center;
}

.chart__analitics{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 60px;
}

.analitics__month{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}

.analitics__title{
	font-family: $medium;
	font-size: 3rem;
	color: #a6a6a6;
}

.month.month-3, .month.month-6, .month.month-9{
	margin-right: 0;
}

.month{
	color: #a4a4a4;
	font-size: 2.5rem;
	font-family: $medium;
	position: relative;
	margin: 0 50px;
	min-width: 80px;
}

.month:before{
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: -30px;
	transform: translateY(-50%);

}

.month-1:before{
 background: #ff3d5a;
}

.month-2:before{
 background: #8379c7;
}

.month-3:before{
 background: #663cd3;
}

.month-4:before{
 background: #ff8396;
}

.month-5:before{
 background: #4895fa;
}

.month-6:before{
 background: #cd7221;
}

.month-7:before{
 background: #ffa16b;
}

.month-8:before{
 background: #28b478;
}

.month-9:before{
 background: #21cdcb;
}

.dio__inner{
	background: #353a49;
	padding: 40px 50px;
	border-radius: 10px;
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
}

.bank__inner, .profite__content{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.bank__number, .bank__text{
	font-size: 3rem;
	color: $white;
	font-family: $medium;
	position: relative;
}

.bank__number:after{
	content: "";
	width: 20px;
	height: 20px;
	background: url("../img/arrow.png") center no-repeat;
	position: absolute;
	top: 0;
	right: -20px;
}

.profit__content--icon{
	fill: $white;
	width: 15px;
	height: 15px;
}

.spane__img{
	width: 100px;
}

.bank__text{
	font-size: 1.7rem;
	font-family: $regular;
}

.laststats{
	display: flex;
	align-items: center;
}

.laststats__inner{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 20px;
}

.laststats__title{
	font-size: 2rem;
	color: #979797;
	font-family: $medium;
}

.square__inner{
	display: flex;
	align-items: flex-end;
	margin-top: 30px;
}

.square__succes{
	margin-right: 15px;
	width: 12px;
	height: 46px;
	border-radius: 2px;
	background: #00cf7f;
}

.square__fail{
	margin-right: 15px;
	width: 12px;
	height: 37px;
	border-radius: 2px;
	background: #acacac;
}

.circle{
	display: flex;
	margin-top: 10px;
}

.circle__text{
	color: #acacac;
	font-size: 1.7rem;
	font-family: $light;
	margin: 0 40px 0 30px;
	position: relative;
}

.circle__text:before{
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #00cf7f;
	position: absolute;
	top: 50%;
	left: -20px;
	transform: translateY(-50%);
}

.circle__text:last-child:before{
	background: #acacac;
}

.circle__text:last-child{
	margin: 0;
}

.month__procent--inner{
	display: flex;
	margin-top: 30px;
}

.month__procent{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 50px 25px 0;
}

.month__procent--text{
	font-size: 3rem;
	color: #acacac;
	font-family: $semibold;
	position: relative;
}

.month__procent--text:after{
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	background: url("../img/miniarrow.png") center no-repeat;
	position: absolute;
	top: 50%;
	right: -25px;
	transform: translateY(-50%);
}

.month__procent--month{
	color: #acacac;
	font-family: $regular;
	font-size: 1.6rem;
}


/* Select */


.select__select, .select{
	position: relative;
}

.select__select{
	cursor: pointer;
	display: inline-block;
}

.select__select:after, .first__item:after{
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	background: url("../img/select.png") center no-repeat;
	position: absolute;
	top: 50%;
	right: -20px;
	transform: translateY(-50%);
	z-index: 1;
}

.first__item:after{
	right: 38px;
}

.first__item{
	position: relative;
}

.select__item{
	padding: 30px 15px;
	transition: .2s linear;
	border-radius: 10px;
	color: $black;
	font-family: $light;
}

.select__item:hover{
	background: #8fa9c2;
}

.select__inner{
	background: #e3e9ef;
	border: 1px solid $black;
	border-radius: 10px;
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
	width: 275px;
	display: none;
}

.fade__item{
	padding: 10px 30px 10px 40px;
}

.fade__inner{
	background: #e3e9ef;
	display: none;
}

.match__icon{
	position: relative;
}

.match__icon:before{
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	background: url("../img/select.png") center no-repeat;
	position: absolute;
	top: 50%;
	left: -20px;
	transform: translateY(-50%);
}

/* Forecast-2 */

.forecast-2{
	padding: 80px 0px 350px 0;
	background: url("../img/forecast-bg-2.jpg") center no-repeat;
	background-size: cover; 
} 

.semi{
	font-family: $semibold;
}

.last__forecast{
	height: 38px;
	background: #5c647c;
	border-radius: 0 0 25px 25px;
}

.date__inner{
	background: #5c647c;
	padding: 9px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.free__money--inner{
	padding: 20px 0;
	background: $white;
	border-radius: 25px 25px 0 0;
}

.checkbox__inner-2{
	margin-top: 0;
}

.date__text{
	color: $white;
	font-size: 1.6rem;
	font-family: $semibold;
	display: flex;
	align-items: center;
	justify-content: center;
}

.upload, .kalendar{
	width: 20px;
	height: 20px;
	fill: $white;
	transition: .5s linear;
}

.upload{
	margin-left: 15px;
}

.kalendar{
	margin-right: 15px;
}

.button__status{
	text-align: center;
	padding: 20px;
	color: $white;
	font-family: $semibold;
	font-size: 1.5rem;
	border-radius: 30px 15px;
	min-width: 130px;
	display: inline-block;
	margin-top: 15px;
}

.cross{
	font-size: 2rem;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.button__succes{
	background: #9cd0a7;
}

.button__succes:hover{
	background: darken(#9cd0a7, 10);
}

.button__return{
	background: #4895fa;
}

.button__return:hover{
	background: darken(#4895fa, 10);
}

.next__month{
	background: transparent;
	border: 2px solid #babcc1;
	border-radius: 5px;
	padding: 7px 10px;
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

.next__month--text{
	color: #babcc1;
	font-size: 1.7rem;
	font-family: $semibold;
	display: flex;
	align-items: center;
}

.circle__item {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin: 20px 0 0 20px;
}

.circle__item:after{
	content: "";
	display: block;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.sector {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 0;
    transform-origin: left bottom;
    background: #000;
    transition: .3s linear;
    user-select: none;
    cursor: pointer;
}

.text__inner{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 50;
	color: #ff8396;
	font-size: 2.5rem;
	font-family: $semibold;
	width: 70%;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	display: flex;
	text-align: center;
}

.profit__text{
	font-size: 1.8rem;
}

.fill__svg{
	width: 100px;
	margin-bottom: 10px;
	fill: #ff8396;
}



/* CHECKBOX */

.disabled{
	display: none;
}

.active__block{
	display: block;
}

.disabled__block{
	display: none;
}

.active__block.active__list,
.show__in.active__list{
	display: block;
}

.disabled__block.active__list, .disabled__block.disabled__list,
.active__block.disabled__list, .disabled__list,
.fade__in.disabled__list{
	display: none;
}

.translate{
	transform: rotateX(180deg);
}



/* Autorization */

.autorization{
	background: url("../img/forecast-bg-2.jpg") center no-repeat;
	background-size: cover;
	min-height: 100vh;
	padding: 50px 0;
} 

.modal__autorization{
	background: $white;
	border-radius: 15px;
	text-align: center;
	padding: 45px 138px;
	margin-top: 100px;
}

.flex{
	display: flex;
	align-items: center;
	justify-content: center;
}

.autorization__title, .autorization__text{
	font-size: 3.1rem;
	font-family: $bold;
	color: #3a3a3a;
}

.autorization__icon--inner{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

.autorization__text{
	font-size: 1.8rem;
	color: 575757;
	margin-right: 20px;
}

.autorization__icons{
	display: flex;
}

.autorization__icon{
	margin-right: 10px;
}

.autorization__icon:last-child{
	margin-right: 0;
}

.input{
	width: 100%;
	margin-top: 20px;
	padding: 7px 25px 7px 45px;
	border-radius: 20px;
	background: transparent;
	border: 2px solid #e1e1e1;
	outline-style: none;
	font-size: 1.8rem;
	max-width: 380px;
	color: #a8a8a8;
}
.email__input, .password__input{
	position: relative;
}

.email__icon, .lock{
	position: absolute;
	top: 50%;
	left: 25px;
	font-size: 1.8rem;
	color: #a8a8a8;
}

.buttons__autorization{
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.autorization__button{
	margin-right: 20px;
	color: $white;
	font-size: 2rem;
	font-family: $medium;
	padding: 12px 70px;
	border-radius: 30px;
}

.forget{
	font-size: 1.6rem;
	font-family: $medium;
	color: #89c7f6;
}

.forget:hover{
	text-decoration: underline;
}

.memorize{
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.memorize__text{
	color: #626262;
	font-size: 1.6rem;
	font-family: $regular;
	cursor: pointer;
	margin-left: 10px;
	position: relative;
}

.memorize__text:before{
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	border: 1px solid #626262;
	background: transparent;
	position: absolute;
	top: 50%;
	left: -30px;
	transform: translateY(-50%);
}

.memorize__check:checked + .memorize__text:before{
	background: url("../img/check.jpg") center no-repeat;
	background-size: cover;
}

.memorize__check{
	display: none;
}



/* Comments */

.comments{
	padding: 65px 0px 135px 0;
	background: url("../img/forecast-bg-2.jpg") center no-repeat;
	background-size: cover;
} 

.comments__title{
	font-size: 3.8rem;
	font-family: $bold;
	color: $white;
	text-align: center;
}

.comments__create{
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.comment__create--button{
	display: flex;
	align-items: center;
	padding: 10px 30px;
	color: $white;
	font-size: 1.6rem;
	font-family: $semibold;
	border-radius: 20px;
}

.comment__circle--plus{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: $white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}

.comment__plus{
	color: $red;
	font-size: 1.1rem;
}

.comment__inner{
	margin-top: 50px;
	display: flex;
}

.comment__inner:nth-child(even){
	justify-content: flex-end;
}

.comment__box{
	width: 50%;
}

.comment__nick{
	color: $black;
	font-size: 2.7rem;
	font-family: $bold;
	text-align: center;
	background: $white;
	padding: 25px 0;
	border-radius: 25px 25px 0px 0px;
}

.comment__date{
	color: $white;
	text-align: center;
	font-size: 1.3rem;
	font-family: $semibold;
	background: #323845;
	padding: 10px 0;
}

.comment__content{
	padding: 42px 80px 60px 80px;
	background: $white;
}

.comment__last{
	border-radius: 0 0 25px 25px;
	background: #5c647c;
	height: 40px;
}

.foto{
	height: 220px;
	width: 100%;
	display: flex;
	justify-content: center;
	background: #e4e4e4;
	border: 2px solid #b0b7cd;
}

.comment__content--text, .foto__hover{
	margin-top: 30px;
	font-family: $medium;
	font-size: 1.5rem;
	color: #353a49;
}

.foto__hover{
	margin-top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 30px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
	opacity: 0;
	transition: .3s linear;
}


/* Send comment */

.send__comment{
	padding: 60px 0px 90px 0;
	background: url("../img/comment-bg.jpg") center no-repeat;
	background-size: cover;
}

.send__comment--inner{
	display: flex;
	align-items: center;
}

.send__comment--box{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.send__comment--title{
	font-size: 3.8rem;
	font-family: $bold;
	color: #353a49;
	text-align: center;
	width: 100%;
}

.send__comment--content{
	margin-top: 40px;
	width: 80%;
	position: relative;
}

.send__comment--content:after{
	content: "";
	display: block;
	width: 7px;
	height: 430px;
	border-radius: 20px;
	background: #5c647c;
	position: absolute;
	top: 0;
	right: -150px;
}

.send__comment--box:nth-child(2){
	margin-left: 200px;
}

.send__comment--text{
	font-size: 2.7rem;
	font-family: $bold;
	color: $red;
}

.upload__file{
	outline: none;
	display: none;
	user-select: none;
}

.label__upload{
	display: inline-block;
	font-size: 1.4rem;
	font-family: $semibold;
	color: $black;
	cursor: pointer;
	padding: 5px 15px;
	background: transparent;
	border: 2px solid #cacaca;
	margin-top: 20px;
	border-radius: 20px;
	transition: .3s linear;
}

.label__upload:hover{
	border: 2px solid darken(#cacaca, 20);
}

.clip{
	transition: .3s linear;
}

.label__upload:hover .clip{
	transform: rotate(360deg);
}

.otziv{
	color: #353a49;
	font-size: 1.8rem;
	font-family: $semibold;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.otziv__area{
	margin-top: 10px;
	resize: none;
	border: 1px solid #c8c8c8;
	background: $white;
	border-radius: 15px;
	outline: none;
	height: 215px;
	width: 100%;
	padding: 20px;
}

.button__otziv{
	font-size: 1.4rem;
	color: $white;
	font-family: $semibold;
	padding: 10px 25px;
	border-radius: 15px;
	display: inline-block;
	margin-top: 20px;
}

.send__comment--comment{
	padding: 25px 20px;
	background: #b0b7cd;
	border-radius: 10px;
	margin-top: 40px;
	font-size: 1.8rem;
	color: $white;
	font-family: $semibold;
	max-width: 430px;
	min-height: 240px;
	position: relative;
}

.send__comment--comment:after{
	content: "";
	display: block;
	width: 25px;
	height: 25px;
	z-index: 1;
	position: absolute;
	top: -10px;
	left: 40px;
	background: #b0b7cd;
	transform: rotate(45deg);
}

.foto{
	position: relative;
	cursor: pointer;
	transition: .3s linear;
}

.foto:hover .foto__hover{
	opacity: 1;
}

.foto__comment{
	width: auto;
	max-width: 100%;
	height: 100%;
}


/* Modal foto */

.modal__foto{
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	position: fixed;
	background: rgba(0, 0, 0, .8);
	display: none;
	justify-content: center;
	align-items: center;
} 

.modal__foto--content{
	min-width: 70%;
	min-height: 100px;
	background: $white;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0;

}

.cros{
	font-size: 4rem;
	position: absolute;
	top: 7px;
	right: 10px;
	cursor: pointer;
}

.modal__foto--foto{
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal__foto--img {
    width: auto;
    max-width: 100%;
    max-height: 600px;
}

.return__password{
	width: 100%;
	display: inline-block;
	margin-top: 30px;
	background: #006ce5;
	color: $white;
	font-size: 1.8rem;
	font-family: $regular;
	padding: 10px 0;
	border-radius: 20px;
	transition: .3s linear;
}

.return__password:hover{
	background: darken(#006ce5, 15);
}

.buttons__return{
	margin-top: 120px;
}

.email__img{
	margin-top: 20px;
}

.info__text{
	max-width: 570px;
	margin-top: 30px;
	font-size: 1.8rem;
	color: #535868;
	font-family: $regular;
}

.medium{
	font-family: $medium;
}

.button__autorization{
	font-size: 2rem;
	color: $white;
	font-family: $semibold;
	padding: 7px 30px;
	display: inline-block;
	margin-top: 20px;
	border-radius: 20px;
}

.ordinar{
	background: url("../img/ordinar-bg.jpg") center no-repeat;
	background-size: cover;
	padding: 125px 0px 95px 0;
}

.ordinar__flex, .ordinar__title--inner{
	display: flex;
	justify-content: center;
	align-items: center;
}

.ordinar__title{
	color: $white;
	font-size: 6.8rem;
	font-family: $bold;
	margin-right: 65px;
	display: flex;
	align-items: center;
}

.ordinar__text{
	color: #cecece;
	font-size: 2rem;
	font-family: $regular;
	max-width: 500px;
	padding-left: 45px;
	position: relative;
}

.ordinar__text:after{
	content: "";
	display: block;
	width: 6px;
	height: 100%;
	border-radius: 20px;
	background: $white;
	position: absolute;
	top: 0;
	left: 0;
}

.actual__forecast{
	padding: 45px 0px 110px 0;
	background: url("../img/comment-bg.jpg") center no-repeat;
	background-size: cover;
}

.last__five{
	padding: 95px 0px 115px 0;
	background: url("../img/ordinar-bg-2.jpg") center no-repeat;
	background-size: cover;
}

.football__icon{
	fill: $white;
	margin-right: 20px;
}

.all__view{
	padding: 5px 0px 25px;
	background: $white;
}

.left__title{
	text-align: left;
}

.all__view--inner{
	padding: 10px 20px;
	background: #e6e6e6;
	width: 100%;
	margin-top: 30px;
	border-radius: 5px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

.sports__inner{
	padding: 12px 60px 12px 35px;
	background: transparent;
	position: relative;
	border-radius: 10px;
	cursor: pointer;
	font-size: 2rem;
	font-family: $medium;
	color: $black;
	display: flex;
	align-items: center;
	transition: .2s linear;
}

.sports__inner:hover{
	background: $red;
	color: $white;
}

.sports__inner:hover .ufc{
	fill: $white;
}

.sports__inner:hover:after{
	background: $white;
	color: $red;
}

.sport__icon{
	margin-right: 10px;
}

.active__sport{
	background: $red;
	color: $white;
}

.active__sport .ufc{
	fill: $white;
}

.ufc{
	width: 25px;
	height: 25px;
	fill: $black;
}

/* Actual forecast 2 */

.actual__forecast-2{
	padding: 85px 0px 145px 0;
	background: url("../img/ordinar-bg-2.jpg") center no-repeat;
	background-size: cover;
}

.last__five-2{
	padding: 50px 0px 90px 0;
	background: url("../img/comment-bg.jpg") center no-repeat;
	background-size: cover;
}

.sports__inner{
	margin: 15px 15px 0 0;
}



.sports__categori--img{
	max-width: 30px;
	margin-right: 5px;
}

.sports__value{
	padding: 2px 5px;
	background: #919191;
	border-radius: 15px;
	font-size: 1rem;
	color: $white;
	position: absolute;
	top: 10px;
	right: 10px;
	transition: .2s linear;
}

.sports__inner:hover .sports__value, .active__sport .sports__value{
	background: $white;
	color: $red;
}




/* Programm */

.programm{
	padding: 170px 0px;
	background: url("../img/ref-bg-1.jpg") center no-repeat;
	background-size: cover;
} 

.programm__title{
	font-size: 7.2rem;
	color: $white;
	font-family: $bold;
	text-align: left;
}

.programm__subtitle, .programm__text, .programm__button{
	font-size: 3.2rem;
	color: $white;
	font-family: $medium;
	margin-top: 80px;
}

.programm__text{
	font-size: 2.1rem;
	margin-top: 25px;
}

.programm__button{
	font-size: 2.1rem;
	text-decoration: underline;
	padding: 10px 20px;
	display: inline-block;
	border-radius: 40px 15px;
}

/* WORK */ 

.work-1{
	background: $white;
	padding: 70px 0px 160px 0;
}

.work__title{
	text-align: left;
}

.work__content{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 50px;
}

.work__img--img{
	width: 800px;
}

.work__img{
	position: relative;
}

.number__block{
	content: "1";
	display: block;
	font-size: 5rem;
	color: $white;
	font-family: $semibold;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background: #b1bdca;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -30px;
	right: -30px;
}

.work__img:last-child:after{
	content: "3";
}

.work__text{
	font-size: 3rem;
	color: $black;
	font-family: $medium;
	max-width: 500px;
	margin-top: 60px;
	position: relative;
}

.work__text:after{
	content: "";
	display: block;
	width: 300px;
	height: 7px;
	background: $black;
	position: absolute;
	bottom: -50px;
	left: 0;
}


/* WORK-2 */

.work-2{
	padding: 120px 0px 195px 0;
	background: url("../img/programm-2-bg.jpg") center no-repeat;
	background-size: cover;
} 

.work-2__content{
	display: flex;
}

.work-2__number{
	width: 75px;
	height: 75px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 5rem;
	font-family: $semibold;
	color: $white;
	background: $red;
	margin-right: 50px;
}

.red__line{
	width: 6px;
	background: $red;
	border-radius: 10px;
}

.work-2__text{
	max-width: 500px;
	font-size: 3rem;
	font-family: $medium;
	margin-left: 50px;
}

/* WORK-3 */

.work-3{
	padding: 130px 0px 70px 0;
	background: url("../img/programm-3-bg.jpg") center no-repeat;
	background-size: cover;
}

/* WORK-4 */

.work-4{
	padding: 120px 0px 195px 0;
	background: url("../img/programm-4-bg.jpg") center no-repeat;
	background-size: cover;
} 

/* Benefit */

.benefit{
	padding: 50px 0;
}

.benefit__title{
	text-transform: uppercase;
} 









/* Media */ 

@media(max-width: 1700px){
	.container__full{
		width: 1400px;
	}
	.chart__content{
		flex-direction: column;
	}
	.border:after{
		display: none;
	}
	.margin__left{
		margin-left: 0;
	}
	.laststats__inner{
		margin-left: 60px;
	}
}
@media(max-width: 1400px){
	.container{
		width: 1180px;
	}
	.container__full{
		width: 1180px;
	}

	.select__select:after{
	    right: 39px;
	}
	.sports__inner{
		padding: 12px 60px 12px 15px;
	}

	/* WORK */

	 .work__content{
	 	flex-direction: column;
	 	align-items: center;
	 	justify-content: center;
	 }

	 .work__title{
	 	text-align: center;
	 }
}

@media(max-width: 1200px){
	.container{
		width: 970px;
	}
	.container__full{
		width: 970px;
	}
	.select__select:after{
	    right: 12px;
	}
	.header__nav--inner{
		display: none;
	}
	.menu__icon{
		display: block;
	}
	.stats__inner{
		justify-content: center;
		flex-wrap: wrap;
	}
	.stats__box{
		width: 50%;
	}
	.stats__item{
		margin-top: 30px;
	}
	.cards__inner{
		flex-wrap: wrap;
	}
	.cards__item{
		width: 45%;
		margin-top: 40px;
	}
	.free__block{
		padding: 50px 0px 80px 0;
	}
	.free__block--inner:nth-child(1){
		margin-right: 20px;
	}

	.footer__img{
		width: 150px;
	}

	.right__l, .right__m{
		margin: 0;
	}

	.mobile{
		display: none;
		font-family: $bold;
		color: $black;
		font-size: 1.5rem;
	}
	.profile__img{
		width: 65px;
	}
	.logo{
		width: 160px;
	}
	.header__logo{
		width: 160px;
	}
	.profile__name{
		font-size: 2rem;
		padding: 5px 20px;
	}
	.profile__console{
		font-size: 1.5rem;
	}

	.profit__inner{
		flex-direction: column;
	}
	.profit__item{
		margin-top: 30px;
	}
	.all__view--inner{
		flex-direction: column;
	}
	.flex__last{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.all__view--inner{
		width: auto;
	}
}

@media(max-width: 992px){
	.container{
		width: 748px;
	}
	.sector {
	    cursor: default;
	}
	.container__full{
		width: 748px;
	}
	.comment__box{
		width: 100%;
	}
	.send__comment--inner{
		flex-direction: column;
	}
	.send__comment--box:nth-child(2){
		margin-left: 0;
		margin-top: 60px;
	}
	.send__comment--content:after{
		display: none;
	}
	.last__forecast{
		display: none;
	}
	.date__inner{
		border-radius: 0 0 25px 25px;
	}
	.chart__analitics{
		margin-top: 30px;
	}
	.chart__box{
		flex-direction: column;
	}
	.title__title{
		font-size: 2.5rem;
	}
	.title__text{
		font-size: 1.7rem;
		margin: 30px 0px 0px 30px;
		text-shadow: 0 0 4px $black;
	}
	.title__text{
		margin: 30px 0px 0px 50px;
	}
	.online__text{
		font-size: 2rem;
	}

	.forecast__mobile--inner{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.forecast__last, .forecast__list{
		display: none;
	}
	.mobile{
		display: block;
		margin-top: 10px;
	}

	.forecast__list{
		flex-direction: column;
		text-align: center;
		margin-top: 45px;
		padding: 20px 0;
	}
	.forecast__category{
		display: none;
	}

	.status{
		margin-top: 10px;
	}
	.news__block--text{
		font-size: 1.4rem;
	}
	.news__block--title{
		font-size: 2.3rem;
	}
	.footer__img{
		display: none;
	}
	.free__content{
		margin: 0;
		text-align: center;
	}
	.free__button{
		margin: 20px auto;
	}
	.title__title{
		text-shadow: 0 0 5px $black;
	}
	.pay__img{
		width: 90px;
	}
	.pay{
		display: flex;
		align-items: center;
		margin-right: 10px;
	}
	.send__comment--box{
		align-items: center;
	}
	.send__comment--content {
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	}
	.otziv{
		text-align: center;
	}
	.send__comment--comment:after{
		left: 50%;
		transform: translateX(-50%) rotate(45deg);
	}
	.ordinar__title{
		font-size: 4rem;
	}
	.ordinar__text{
		font-size: 1.5rem;
	}

	/* WORK */

	.work__img--img{
		width: 500px;
	} 

	.work-2, .work-4{
		padding: 100px 0;
	}
}

@media(max-width: 768px){
	.container{
		width: 460px;
	}
	.container__full{
		width: 460px;
	}
	.dio__inner{
		width: 460px;
		margin: 30px auto;
	}
	.laststats{
		flex-direction: column;
	}
	.laststats__inner{
		margin: 20px 0 0 0;
	}
	.menu__icon{
		display: flex;
	}
	.label__upload{
		font-size: 1.2rem;
	}
	.middle__item--text{
		max-width: 240px;
	}
	.header__profile{
		display: none;
	}
	.modal__menu{
		width: 100%;
		min-height: 100vh;
	}
	.pay__logo{
		flex-direction: column;
	}
	.title__title{
		font-size: 1.8rem;
		text-align: center;
	}
	.title__text, .title__online{
		margin: 20px 0 0 0;
	}
	.title__inner{
		width: 100%;
	}
	.forecast__title{
		font-size: 2.5rem;
	}
	.stats__item{
		padding: 10px 20px;
	}
	.stats__item{
		min-width: 180px;
		max-width: 181px;
	}
	.stats__text{
		font-size: 1.6rem;
	}
	.stats__number{
		font-size: 2rem;
	}
	.cards__item{
		width: 85%;
	}
	.free__block{
		flex-direction: column;
	}
	.support{
		border: none;
		padding: 0 0 20px 0;
		text-align: center;
		margin-top: 20px;
	}
	.checkbox__inner{
		flex-direction: column;
	}
	.checkbox{
		margin-top: 20px;
	}
	.news__block{
		width: 100%;
	}
	.news__block--inner{
		flex-direction: column;
	}
	.sale__title{
		font-size: 2.5rem;
	}
	.sale__img{
		width: 300px;
	}
	.checkbox__text{
		font-size: 2.2rem;
	}
	.modal__menu--item{
		padding: 10px 35px;
		font-size: 1.5rem;
	}
	.middle__item--title, .middle__item--text, .bold, .ball{
		font-size: 1.4rem;
	}
	.ball{
		width: 15px;
		height: 15px;
	}
	.profit__inner{
		padding: 0px 30px;
	}

	.profit__item{
		min-width: 300px;
		border-radius: 30px;
	}
	.profit__text--title, .profit__text--text{
		font-size: 2rem;
	}
	.profit__text--text{
		font-size: 1.3rem;
		margin-top: 5px;
	}
	.chart__analitics{
		margin: 20px 0 0 0;
	}
	
	.input{
		max-width: 100%;
	}

	.modal__autorization{
		padding: 45px 60px;
	}
	.send__comment--box{
		width: 100%;
	}
	.ordinar__title--inner{
		flex-direction: column;
	}
	.ordinar__text:after{
		display: none;
	}
	.ordinar__title{
		margin-right: 0;
	}
	.ordinar__text{
		margin-top: 20px;
		padding: 0;
		text-align: center;
	}

	/*work*/

	.programm__title{
		font-size: 4.5rem;
	}

	.programm__subtitle{
		margin-top: 50px;
		font-size: 2.5rem;
	}

	.programm__text, .programm__button{
		font-size: 1.7rem;
	}

	.work-2__number, .number__block{
		width: 40px;
		height: 40px;
		font-size: 1.4rem;
		margin-right: 20px;
	}

	.number__block{
		top: -20px;
		right: -40px;
	}

	.work-2__text{
		font-size: 2rem;
		margin-left: 20px;
		max-width: 330px;
	}
}



@media(max-width: 480px){
	.container{
		width: 300px;
	}
	.container__full{
		width: 300px;
	}
	.middle__item--text{
		max-width: 170px;
	}
	.modal__menu--item.profile__item{
		display: flex;
	}
	.pay__logo{
		margin-right: 5px;
	}
	.header__register{
		font-size: 1.1em;
		padding: 6px 13px;
		display: flex;
	}
	.pay__inner{
		margin: 100px 0px 0px 0px;
		width: 100%;
	}
	.login{
		display: none;
	}
	.title{
		min-height: 560px;
	}
	.stats__box{
		width: 100%;
	}
	.stats__inner{
		margin-top: 20px;
	}
	.forecast__title{
		font-size: 2.1rem;
	}
	.free__block--inner{
		margin: 0;
	}
	.free__text{
		width: 100%;
	}
	.sale__img{
		width: 250px;
	}
	.cards{
		padding: 135px 0 0 0;
	}
	.chart__title{
		font-size: 3rem;
		margin-bottom: 20px;
	}
	.analitics__title, .chart__title{
		font-size: 1.8rem;
	}
	.month{
		margin: 0 10px;
		font-size: 1.5rem;
	}
	.month:before{
		width: 10px;
		height: 10px;
	}
	.dio__inner{
		width: 300px;
		flex-direction: column;
		align-items: center;
	}
	.snape{
		margin: 20px 0;
	}

	.laststats__inner{
		align-items: center;
		justify-content: center;
	}

	.month__procent{
		margin: 0 30px 0 0;
	}
	.month{
		text-align: right;
	}
	.month:before{
		left: 18px;
	}

	.autorization__icon--inner{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.autorization__icons{
		margin-top: 15px;
	}

	.buttons__autorization{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.forget{
		margin-top: 15px;
	}

	.modal__autorization{
		padding: 45px 20px;
	}

	.autorization__text{
		margin-right: 0;
	}

	.autorization__button{
		margin-right: 0;
	}
	.foto__hover{
		font-size: 1.4rem;
	}
	.comment__content{
		padding: 10px;
	}
	.info__text{
		font-size: 1.4rem;
	}
	.email--img{
		width: 100px;
	}
	.autorization__title{
		font-size: 2rem;
	}


	/*work*/

	.programm__title{
		font-size: 3.5rem;
	}

	.programm__subtitle{
		margin-top: 30px;
		font-size: 2rem;
	}

	.programm__text, .programm__button{
		font-size: 1.4rem;
	}

	.work-2__number, .number__block{
		width: 30px;
		height: 30px;
		font-size: 1.2rem;
		margin-right: 10px;
	}

	.number__block{
		top: -15px;
		right: -25px;
	}

	.work-2__text{
		font-size: 1.6rem;
		margin-left: 15px;
		max-width: 200px;
	}

	.work__img--img{
		width: 300px;
	} 

	.work-2, .work-4{
		padding: 50px 0;
	}

	.work__text{
		font-size: 2rem;
	}

	.work__text:after{
		width: 200px;
	}

	.work-3{
		padding: 90px 0px 100px 0;
	}


}