@media (min-width:1200px){
	.container{
		max-width:1920px
	}
}

@media (max-width: 1600px){
	.left_column, .right_column{
		display: none;
	}
	.md_100{
		max-width: 100%;
	}
	.content_section .container .post_box{
		max-width: 1300px;
	}

	.index__inner--bottom{
		display: flex;
	}

	.phone, .address, .email, .send_message{
		width: 50%;
	}

	header .input_box{
		max-width: 500px;
	}

	.col-lg-2.coll{
		flex: 0 0 25%;
		max-width: 25%;
	}
	
	.col-lg-8.coll{
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}

	.send_message, .email{
		margin-top: 10px;
	}

}

@media (max-width: 1440px){
	header .input_box{
		max-width: 400px;
	}
	.index__box{
	    padding: 0 15px 0 0px;
	}

	.index__box:nth-child(2){
	    padding: 0 0px 0 15px;
	}

	/* Меню */

	.logo img{
		width: 100px;
	}

	.col-lg-2.header__logo{
		width: auto;
		max-width: 120px;
	}

	.row.align-items-center{
		justify-content: space-between;
	}

	.col-lg-8.coll.info_row.d-flex.flex-wrap.ml-auto{
		margin-left: 0 !important;
	}

	header .info_row .mufta_trigger{
		margin-left: 15px;
	}

	.mobile__seacrh{
		display: flex;
	}

	.col-sm-4.mt-3.p-0.d-flex, .col-sm-8.mt-3,
	.col-sm-12.pl-0.pr-0.d-flex.faworit_row{
		display: none!important;
	}
}

@media (max-width: 1280px){
	.index__sale--box, .index__news--box{
	    max-width: 920px;
	    width: auto;
	}

	.index__box--img{
		display: none;
	}

	.index__sale--box, .index__news--box{
		max-width: 100%;
		width: 100%;
	}

	.index__box{
		max-width: 100%;
		padding: 0;
	}

	header .input_box{
		max-width: 280px;
	}

	header .input_box .search{
		width: 105px;
	}

	.fade480{
		display: none;
	}
}

@media (max-width: 1024px){
	.left_banners{
		display: none;
	}

	.footer .after_footer{
		background: #f7f7f7;
	}

	.footer .after_footer .copyright, .footer .after_footer .map_site{
		color: #000;
	}

	.mobile__seacrh p a, header .info_row p{
		display: none;
	}

	.col-lg-2.header__logo .logo img{
		width: auto;
		max-width: 90px;
	}

	.mufta_trigger2{
		margin-left: 10px;
	}

	.send_message, .email{
		margin-top: 0px;
	}
}

@media (max-width: 768px){
	.content_section .content_center .slide .slide_title {
	    font-size: 22px;
	    text-align: center;
	}

	.content_section .content_center .slide .texts {
	    position: absolute;
	    width: 100%;
	    top: 80px;
	    left: 0;
	}

	.content_section .content_center .slide .go_catalog {
	    max-width: 240px;
	    height: auto;
	    padding: 10px 20px;
	    margin: 54px auto 0;
	}

	.header__flexx, .pre_header, .mobile__seacrh{
		display: none;
	}

	.content_section .content_center .slide {
	    position: relative;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	}

	.mob__menu{
		display: flex;
	}

	header{
		position: fixed;
		width: 100%;
		z-index: 100;
		top: -2px;
	}

	.fised__top{
		margin-top: 170px;
	}
}

@media (max-width: 480px){
	.content_section .content_center .slide .slide_title {
	    font-size: 24px;
	    text-align: center;
	}

	.content_section .content_center .slide .texts {
	    position: absolute;
	    width: 100%;
	    top: 60px;
	    left: 0;
	    max-width: 280px;
	    left: 50%;
	    transform: translateX(-50%);
	}

	.content_section .content_center .slide .go_catalog {
	    max-width: 240px;
	    height: auto;
	    padding: 6px 14px;
	    margin: 24px auto 0;
	}

	.content_section .content_center .slider_banner .owl-nav .owl-prev{
		left: 20px;
	}

	.content_section .content_center .slider_banner .owl-nav .owl-next{
		right: 20px;
	}

	.content_section .content_center .slider_banner .owl-dots{
		bottom: -30px;
	}

	.input__inner{
		flex-direction: column;
	}

	.subsribee {
		margin-right: 0;
		margin-top: 20px;
	}

	.index__email{
		width: 100%;
		margin-right: 0;
	}

	.index__news--box{
		padding: 15px;
	}

	.index__news--block{
		width: 100%;
	}

	.mobile__fade{
		display: none;
	}

	.index__inner--bottom{
		display: flex;
		justify-content: center;
	}

	.phone{
		width: 58%;
	}
}

@media (max-width: 320px){
	.content_section .content_center .slide .slide_title {
	    font-size: 18px;
	    text-align: center;
	}

	.content_section .content_center .slide .texts {
	    top: 30px;
	}

	.content_section .content_center .slide .go_catalog{
		max-width: 180px;
	}

	.content_section .content_center .post_box, .content_section .container .post_box{
		padding: 15px;
	}

	.index__email{
		width: 238px;
		margin-right: 0;
	}

	.input__inner{
		flex-direction: column;
		width: 100%;
	}

	.content_section .title{
		font-size: 20px;
	}

	.index__sale--box, .index__news--box{
		padding: 15px;
	}

	.index__news--block{
		width: 100%;
	}

	.autorization__button{
		margin: 10px 0 0 0;
	}

	.btn_bordered{
		max-width: 100%;
	}

	.footer .after_footer{
		background: #e6e6e6;
	}

	.index__box {
	    padding: 0 0px 0 10px;
	}

	.mobile__fade{
		display: none;
	}
}