:root{
	font-size: 10px;
}
@font-face{
	font-family: GilroyBold;
	src: url(../fonts/GilroyBold.ttf);
}
@font-face{
	font-family: GilroyRegular;
	src: url(../fonts/GilroyRegular.ttf);
}
@font-face{
	font-family: icomoon;
	src: url(../fonts/icomoon.ttf);
}
body{
	margin: 0;
	padding: 0;
	font-family: GilroyRegular;
	overflow-x: hidden;
}
a{
	text-decoration: none;
	color: #000;
}
ul{
	padding: 0;
}
li{
	list-style-type: none;
}
*,
*:before,
*:after{
	box-sizing: border-box;
}
.container{
	width: 1920px;
	margin: 0 auto;
	padding: 65px 140px;
	text-align: center;
	color: #000;
}

/*--------Advantage--------*/

.advantage__title{
	font-size: 5.7rem;
	text-transform: uppercase;
	font-family: GilroyBold;
}
.advantage__inner{
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
}
.advantage__item{
	width: 32%;
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 0px 20px;
}
.advantage__item-img{
	height: 150px;
}
.advantage__item-title{
	font-size: 3.3rem;
	font-family: GilroyBold;
	margin-top: 10px;
}
.advantage__item-text{
	font-size: 2rem;
	margin-top: 10px;
}
.icon{
	font-size: 10rem;
	position: absolute;
	color: #d7d7d7;
}
.left{
	top: 50%;
	left: 110px;
}
.right{
	top: 50%;
	right: 160px;
}

/*--------Media--------*/

@media(max-width: 1850px){
	.container{
		width: 1600px;
	}
}
@media(max-width: 1650px){
	.container{
		width: 1150px;
	}
	.advantage__title{
		font-size: 4rem;
	}
	.advantage__item-title{
		font-size: 3.3rem;
	}
	.advantage__item-text{
		font-size: 1.7rem;
	}
	.left{
		top: 60%;
		left: 110px;
	}
	.right{
		top: 60%;
		right: 160px;
	}
}
@media(max-width: 1200px){
	.container{
		width: 950px;
	}
	.advantage__item{
		width: 50%;
	}
	.left{
		top: 70%;
		left: 140px;
	}
	.right{
		top: 70%;
		right: 140px;
	}
	.advantage__title{
		font-size: 3.5rem;
	}
	.advantage__item-title{
		font-size: 2.9rem;
	}
	.advantage__item-text{
		font-size: 1.5rem;
	}
	.icon{
		display: none;
	}
}
@media(max-width: 998px){
	.container{
		width: 720px;
	}
	.advantage__item{
		width: 100%;
		margin-top: 70px;
	}
}
@media(max-width: 768px){
	.container{
		width: 430px;
		padding: 50px 0;
	}
	.advantage__title{
		font-size: 3rem;
	}
	.advantage__item-title{
		font-size: 2rem;
	}
	.advantage__item-text{
		font-size: 1.3rem;
	}
}
@media(max-width: 480px){
	.container{
		width: 280px;
	}
	.advantage__title{
		font-size: 2.6rem;
	}
	.advantage__item-title{
		font-size: 1.6rem;
	}
	.advantage__item-text{
		font-size: 1.2rem;
	}
}
@media(max-width: 320px){
	
}