@font-face{
	font-family: OpenSansReg;
	src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face{
	font-family: OpenSansSemi;
	src: url(../fonts/OpenSans-Semibold.ttf);
}
@font-face{
	font-family: OpenSansBold;
	src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face{
	font-family: icomoon;
	src: url(../fonts/icomoon.ttf);
}

body{
	font-family: OpenSansReg;
	overflow-x: hidden;
}

*,
*:before,
*:after{
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: #000;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}

.section__mobile-title{
	width: 100%;
	height: 60px;
	background: #f7f7f7;
	text-align: center;
	display: none;
}

.slick__menu-inner-1, .slick__menu-inner-2, .slick__menu-inner-3,
.slick__menu-inner-4, .slick__menu-inner-5{
	width: 100%;
	height: 70px;
	background: #fff;
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	display: none;
}

.slick__menu-1, .slick__menu-2, .slick__menu-3, .slick__menu-4,
.slick__menu-5{
	position: absolute;
    top: 16px;
    left: 10px;
}

.slick__menu-1{
	width: 1225px;
}

.slick__menu-2{
	width: 480px;
}

.slick__menu-3{
	width: 600px;	
}

.slick__menu-4{
	width: 710px;
}

.slick__menu-5{
	width: 890px;
}

.slick__menu-inner-1::-webkit-scrollbar, .slick__menu-inner-2::-webkit-scrollbar,
.slick__menu-inner-3::-webkit-scrollbar, .slick__menu-inner-4::-webkit-scrollbar,
.slick__menu-inner-5::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.name__text, .name__text-mob{
	font-size: 28px;
	font-family: OpenSansBold;
	text-align: center;
}

.button{
	color: #000;
	border-radius: 10px;
	background: #fff;
	margin-right: 16px;
	margin-top: 24px;
	transition: .2s linear;
}

.container{
	width: 960px;
	margin: 0 auto;
	position: relative;
}

/*---------Card--------*/

.card__img{
	display: block;
	margin: 0 auto;
}

.card__subtext{
	font-size: 14px;
	margin-top: 14px;
	font-family: OpenSansReg;
	height: 45px;
	padding: 0 10px;
}

.card__value{
	color: #1e1e1e;
	font-size: 22px;
	font-family: OpenSansSemi;
	margin-top: 11px;
}

/*---------Header--------*/
/*---------Menu--------*/

.header{
	padding: 25px 0 0 0;
}

.header__inner{
	display: flex;
	align-items: center;
	transition: .3s linear;
}

.icon-bars{
	display: none;
}

.header__phone{
	margin: 0 0 0 65px;
	position: relative;
}

.header__phone-2{
	margin: 0 0 0 52px;
	position: relative;
	transition: .3s linear;
}

.phone:before, .phone-2:before{
	content: "";
	display: block;
	background: url(../img/phone.png) center no-repeat;
	width: 30px;
	height: 30px;
	position: absolute;
	top: -8px;
    left: -32px;
}

.phone:after{
	content: "Бесплатно";
	display: block;
	position: absolute;
	color: #ff434f;
	font-size: 13px;
	bottom: -15px;
}

.support{
	margin-left: 29px;
	position: relative;
	transition: .3s linear;
}

.support:after{
	content: "\f0d7";
	font-family: icomoon;
	display: block;
	position: absolute;
	top: 50%;
	right: -15px;
	transform: translateY(-50%);
}

.cart{
	margin-left: 84px;
	position: relative;
	transition: .3s linear;
}

.icon-shopping-cart{
	font-size: 27px;
	position: absolute;
	top: -5px;
    left: -40px;
}

.cart__suptext{
	color: #fff;
	font-size: 10px;
	line-height: 17px;
	text-align: center;
	width: 19px;
	height: 19px;
	background: #ff5d5d;
	position: absolute;
	top: -11px;
    left: -22px;
	border-radius: 50%;
}

.login{
	margin-left: 43px;
	position: relative;
	transition: .3s linear;
}

.login__icon{
	position: absolute;
	top: -1px;
	left: -23px;
	width: 20px;
	height: 19px;
	background: url(../img/login.png);
}

/*---------Search--------*/

.header__search{
	margin-top: 15px;
	padding: 0 16px;
}

.katalog__inner{
	background: #ff4343;
	padding: 8px 25px 8px 46px;
	border-radius: 5px;
	position: relative;
}

.katalog{
	font-size: 16px;
	line-height: 18px;
	color: #fff;
}

.katalog:before{
	content: "\f0c9";
	font-family: icomoon;
	display: block;
	font-size: 22px;
	position: absolute;
	top: 7px;
    left: 13px;
}

.search__inner{
	margin-left: 20px;
	position: relative;
}

.search__icon{
	width: 24px;
	height: 24px;
	background: url(../img/search.png) center no-repeat;
	position: absolute;
	cursor: pointer;
	top: 5px;
	right: 5px;
}

.search{
	width: 480px;
	height: 36px;
	padding: 9px 12px;
	border: 1px solid #cbcbcb;
	border-radius: 5px;
	font-size: 14px;
	outline: none;
}

.sale__inner{
	background: #ffb340;
	padding: 8px 20px 8px 55px;
	margin-left: 20px;
	border-radius: 5px;
}

.sale{
	font-size: 16px;
	color: #fff;
	position: relative;
}

.sale:before{
	content: "";
	display: block;
	width: 24px;
	height: 24px;
	background: url(../img/sale.png) center no-repeat;
	position: absolute;
	top: -1px;
    left: -37px;
}

.header__fon{
	width: 100%;
	height: 400px;
	background: url(../img/05.jpg) center no-repeat;
	background-size: cover;
	margin-top: 25px;
}

/*--------Offer--------*/

.offer{
	padding: 80px 0px 105px 0px;
}

.offer__inner{
	margin-top: 30px;
}

.offer__card{
	width: 220px;
	height: 310px;
	margin-right: 16px;
}

/*--------Tools--------*/

.tools{
	padding: 50px 0;
	background: url(../img/tools-fon.jpg) center no-repeat;
	background-size: cover;
}

.tools__text{
	color: #fff;
}

/*--------Tools carousel--------*/

.carousel-hider {
    width: 960px;
    overflow: hidden;
    margin-top: 35px;
}

.carousel-list, .job-list, .litirature-list, .gadjet-list, .food-list,
.special-list{    
    width: 10000px;
    display: flex;
    padding: 0px 16px;
    position: relative;
}

.tools__carousel-item, .job__carousel-item, .litirature__carousel-item,
.gadjet__carousel-item, .food__carousel-item, .special__carousel-item{
	width: 220px;
	height: 310px;
	border-radius: 10px;
	background: #fff;
	display: block;
    margin-right: 16px;
    text-align: center;
    padding: 20px 0px 24px;
}

.carousel-arrow-left, .carousel-arrow-right, .job-arrow-left, .job-arrow-right,
.litirature-arrow-right, .litirature-arrow-left, .gadjet-arrow-right,
.gadjet-arrow-left, .food-arrow-right, .food-arrow-left, .special-arrow-left,
.special-arrow-right{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    position: absolute;
}

.carousel-arrow-left, .job-arrow-left, .litirature-arrow-left,
.gadjet-arrow-left, .food-arrow-left, .special-arrow-left{
	top: 200px;
    left: -35px;
    box-shadow: 0px 0px 4px #000;
}

.carousel-arrow-right, .job-arrow-right, .litirature-arrow-right,
.gadjet-arrow-right, .food-arrow-right, .special-arrow-right{
	top: 200px;
    right: -35px;
    box-shadow: 0px 0px 4px #000;
}

.carousel-arrow-left:before, .job-arrow-left:before,
.litirature-arrow-left:before, .gadjet-arrow-left:before,
.food-arrow-left:before, .special-arrow-left:before{
	content: "\f104";
	font-family: icomoon;
	font-size: 30px;
	display: block;
	position: absolute;
	top: -1px;
    left: 9px;
}

.carousel-arrow-right:before, .job-arrow-right:before,
.litirature-arrow-right:before, .gadjet-arrow-right:before,
.food-arrow-right:before, .special-arrow-right:before{
	content: "\f105";
	font-family: icomoon;
	font-size: 30px;
	display: block;
	position: absolute;
	top: -1px;
    left: 15px;
}

.tools__btns{
	display: flex;
	flex-wrap: wrap;
	padding: 0px 25px;
}

.tools__button:hover{
	background: #ffb431;
	color: #fff;
}

.btn__hover-red:hover{
	background: #ff4141;
	color: #fff;
}

.tools__button-1{
	padding: 12px 45px;
}

.tools__button-2{
	padding: 12px 45px;
}

.tools__button-3{
	padding: 12px 45px;
}

.tools__button-4{
	padding: 12px 30px;
}

.tools__button-5{
	padding: 12px 30px;
}

.tools__button-6{
	padding: 12px 25px;
}

.tools__button-7{
	padding: 12px 30px;
}

.tools__button-8{
	padding: 12px 40px;
}

.tools__button-9{
	padding: 12px 55px;
}

/*--------Job--------*/

.job{
	padding: 50px 0;
	background: url(../img/job-fon.jpg) center no-repeat;
	background-size: cover;
	margin-top: 66px;
}

.job__text{
	color: #000;
}

/*--------Litirature--------*/

.litirature{
	padding: 50px 0;
	background: url(../img/litirature-fon.jpg) center no-repeat;
	background-size: cover;
	margin-top: 66px;
}

.litirature__text{
	color: #fff;
}

/*--------Gadjet--------*/

.gadjet{
	padding: 50px 0;
	background: url(../img/gadjet-fon.jpg) center no-repeat;
	background-size: cover;
	margin-top: 66px;
}

/*--------Food--------*/

.food{
	padding: 50px 0;
	background: url(../img/food-fon.jpg) center no-repeat;
	background-size: cover;
	margin-top: 66px;
}

.food__text{
	color: #fff;
}

/*---------Footer--------*/

.footer{
	padding: 37px 0 46px 0;
	background: #f8f6f6;
	margin-top: 66px;
	font-family: "Ubuntu", sans-serif;
}

.footer__inner{
	display: flex;
}

.footer__inner-mob{
	display: flex;
	flex-direction: column;
	display: none;
}

.footer__box{
	display: flex;
	flex-direction: column;
	width: 33%;
}

.footer__title{
	font-weight: 500;
	font-size: 18px;
}

.footer__text{
	color: #1d1918;
	font-size: 14px;
	margin-top: 17px;
}

.footer__social{
	margin-top: 20px;
}

.icon{
	font-size: 20px;
	color: #fff;
	background: #1065c4;
	padding: 5px;
	border-radius: 5px;
	margin-right: 10px;
	transition: .2s linear;
}

.icon-facebook-square{
	padding: 5px 7px;
}

.icon:hover{
	background: #1045c4;
}

.footer__subtitle{
	margin-top: 37px;
}

.footer__yandex{
	margin-top: 20px;
}

.footer__last-box{
	position: relative;
}

.footer__arrow{
	position: absolute;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: #fff;
	top: 0;
	right: 0;
}

.footer__arrow:before{
	content: "\f106";
	display: block;
	position: absolute;
	font-family: icomoon;
	font-size: 40px;
	top: -2px;
	right: 48%;
	transform: translateX(50%);
}

.footer__copiright{
	color: #888;
	font-size: 14px;
	margin-top: 29px;
}

.footer__link-underline{
	text-decoration: underline;
}

/*--------Media--------*/

@media (max-width: 992px){
	.container{
		width: 720px;
	}

	.header__fon {
	    height: 300px;
	    transition: .3s linear;
	}

	.header__logo{
		width: 150px;
	}

	.header__phone {
	    font-size: 13px;
	    margin: 0 0 0 40px;
	}

	.header__phone-2 {
	    font-size: 13px;
	    margin: 0 0 0 40px;
	}

	.support {
	    font-size: 14px;
	    margin-left: 10px;
	}

	.cart {
	    font-size: 14px;
	    margin-left: 55px;
	}

	.cart__suptext {
		font-size: 8px;
	    line-height: 13px;
	    width: 15px;
	    height: 15px;
	    left: -17px;
	}

	.carousel-hider {
	    width: 488px;
	    margin: 35px auto 0;
	}

	.icon-shopping-cart{
		font-size: 22px;
		top: -6px;
    	left: -29px;
	}

	.login{
		margin-left: 34px;
	}

	.login__text{
		font-size: 15px;	
	}

	.katalog__inner {
	    padding: 1px 33px 1px 43px;
	}

	.katalog:before {
	    font-size: 16px;
	    top: 10px;
	    left: 13px;
	}

	.katalog {
	    font-size: 15px;
	}

	.search {
		width: 343px;
		height: 38px;
	}

	.sale__inner {
	    padding: 1px 20px 1px 55px;
	}

	.sale:before {
	    top: 5px;
	    left: -42px;
	}

	.sale {
	    font-size: 14px;
	}

	.carousel-arrow-left, .job-arrow-left, .litirature-arrow-left,
	.gadjet-arrow-left, .food-arrow-left, .special-arrow-left{
    	left: 55px;
    	z-index: 5;
	}

	.carousel-arrow-right, .job-arrow-right, .litirature-arrow-right,
	.gadjet-arrow-right, .food-arrow-right, .special-arrow-right{
	    right: 55px;
	}

	.button {
	    font-size: 12px;
	}

	.tools__button{
		padding: 12px 20px;
	}

	.tools__btns {
	    padding: 0px 98px;
	}

	.yandex__img{
		width: 220px;
	}
}

@media (max-width: 768px){
	.container{
		width: 400px;
	}

	.header__phone, .header__phone-2, .support, .cart__text, .login__text,
	.katalog__inner, .sale__inner, .search {
	    display: none;
	}

	.header__logo{
		width: 220px;
		margin-left: 30px;
	}

	.icon-bars{
		display: block;
		font-size: 30px;
	}

	.header__fon {
	    margin-top: 0;
	}

	.icon-shopping-cart {
	    font-size: 29px;
	    top: -15px;
	    left: 11px;
	}

	.cart__suptext {
	    font-size: 11px;
	    line-height: 17px;
	    width: 19px;
	    height: 19px;
	    left: 26px;
	    top: -20px;
	}

	.search__icon {
	    top: -52px;
	    right: -290px;
	}
	

	.carousel-arrow-left:before, .job-arrow-left:before,
	.litirature-arrow-left:before, .gadjet-arrow-left:before,
	.food-arrow-left:before, .special-arrow-left:before{
	    font-size: 40px;
	    top: 0px;
	    left: 20px;
    }

    .carousel-arrow-right:before, .job-arrow-right:before,
	.litirature-arrow-right:before, .gadjet-arrow-right:before,
	.food-arrow-right:before, .special-arrow-right:before{
		font-size: 40px;
	    top: 0px;
	    left: 20px;
	}

	.login__icon {
	    top: -7px;
	    left: 27px;
	}

	.button{
		margin-top: 0;
	}

	.offer {
    	padding: 40px 0px 55px 0px;
	}

	.tools__btns{
		display: none;
	}

	.section__mobile-title{
		display: block;
	}

	.time__container{
		width: 100%;
		position: relative;
	}

	.carousel-arrow-left, .job-arrow-left, .litirature-arrow-left,
	.gadjet-arrow-left, .food-arrow-left, .special-arrow-left{
    	left: 4px;
    	top: 140px;
    	width: 50px;
    	height: 50px;
	}

	.carousel-arrow-right, .job-arrow-right, .litirature-arrow-right,
	.gadjet-arrow-right, .food-arrow-right, .special-arrow-right{
	    right: 4px;
	    top: 140px;
	    width: 50px;
    	height: 50px;
	}

	.header__fon {
	    height: 200px;
	}

	.name__text, .name__text-mob{
		line-height: 60px;
		font-size: 22px;
	}

	.footer__inner{
		display: none;
	}

	.footer__copiright{
		display: none;
	}

	.footer__inner-mob{
		display: block;
		color: #444;
		font-size: 21px;
		text-align: center;
	}

	.footer__text-box-mob, .footer__number-mob{
		margin-top: 30px;
	}

	.footer__number-mob{
		font-size: 27px;
		font-weight: 700;
	}

	.grey{
		font-weight: 700;
	}

	.footer__social-text{
		font-size: 26px;
		color: #FF8E81;
		margin-top: 38px;
	}

	.footer__social-icon{
		margin-top: 25px;
	}

	.icon-mob{
		font-size: 40px;
		color: #fff;
		background: #575555;
		padding: 5px;
		border-radius: 5px;
		margin-right: 10px;
		transition: .2s linear;
	}

	.icon-mob:hover{
		background: #1065c4;
	}

	.icon-mob-w{
		padding: 5px 7px;
	}

	.food{
		margin-top: 0;
	}

	.gadjet{
		margin-top: 0;
	}

	.litirature{
		margin-top: 0;
	}

	.job{
		margin-top: 0;
	}

	.name__text{
		display: none;
	}

	.carousel-hider {
	    width: 488px;
	    margin: 0 auto;
	}

	.slick__menu-inner-1, .slick__menu-inner-2, .slick__menu-inner-3,
	.slick__menu-inner-4, .slick__menu-inner-5{
		display: block;
		padding-left: 15px;
	}

	.slick__menu-1, .slick__menu-2, .slick__menu-3, .slick__menu-4,
	.slick__menu-5{
		display: flex;
		align-items: center;
	}
}

@media (max-width: 480px){
	.container{
		width: 290px;
	}

	.header {
    	padding: 10px 0 0 0;
	}

	.header__fon {
    	height: 125px;
	}

	.header__logo {
	    width: 115px;
	    margin-left: 15px;
	}

	.search__icon {
	    top: -42px;
	    right: -163px;
	}

	.carousel-hider {
	    width: 252px;
	}

	.footer__inner-mob{
		display: block;
		color: #444;
		font-size: 15px;
		text-align: center;
	}

	.name__text-mob{
		font-size: 17px;
	}
}