body{
	margin: 0;
	overflow-x: hidden;
	font-family: sans-serif;
	background: url(../img/header-fon.jpg) center no-repeat;
	background-size: cover;
}

*,
*:before,
*:after{
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}

a{
	text-decoration: none;
	color: #000;
}

.container{
	width: 1060px;
	margin: 0 auto;
	padding: 20px 50px;
	box-shadow: 0px 0px 5px #000;
	background: #fff;
}

/*--------Header--------*/

.header__title{
	font-weight: 700;
	font-size: 25px;
	margin-top: 25px;
	text-align: center;
}

.header__inner{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__categori{
	width: 600px;
	margin: 0 auto;
	margin-top: 130px;
	text-align: center;
}

.header__categori-link, .header__page-link, .send, .stroks__link,
.profile__link{
	color: red;
	font-weight: 400;
}

.header__page{
	font-weight: 700;
}

.list__link{
	margin-top: 15px;
}

/*--------Content--------*/

.content__text{
	font-size: 20px;
	color: #e7e7e7;
	text-transform: uppercase;
	text-shadow: 0px 0px 5px #000;
}

.content__date{
	margin-top: 40px;
}

.content__login-box{
	margin: 40px 0;
	display: flex;
}

.content__login-img{
	display: flex;
	flex-direction: column;
}

.text-box{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.send{
	margin-top: 15px;
}

.content__img{
	width: 260px;
	height: auto;
	border: 1px solid #2ebaee;
}

.green{
	color: green;
}

.table__box{
	width: 420px;
	background: #e8d261;
	margin: 100px 0 0 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pink__box{
	background: #ff0090;
	text-transform: uppercase;
	padding: 5px 0;
	text-align: center;
	font-weight: 500;
	font-size: 20px;
	color: #fff;
	width: 100%;
}

.stroks__link{
	margin-right: 10px;
}

.stroks{
	margin: 10px 0;
}

.content__desc{
	margin-top: 15px;
	font-size: 17px;
	color: #ccc;
}

.content__desc-text{
	margin-top: 25px;
}

.profile__box{
	margin-left: 100px;
}

.profile{
	margin-top: 30px;
	display: flex;
	align-items: center;
}

.profile__img{
	width: 155px;
	height: auto;
	margin-right: 45px;
}

.from__google{
	font-weight: 600;
	margin-left: 20px;
}

/*--------Footer--------*/

.footer__inner{
	display: flex;
	justify-content: space-around;
}

.footer__link{
	color: #fa14bd;
	font-weight: 600;
}

.footer__copyright{
	color: gold;
}

/*--------Media--------*/

@media(max-width: 1200px){
	.container{
		width: 900px;
	}

	.table__box {
	    width: 360px;
	}
}

@media(max-width: 998px){
	.container{
		width: 700px;
	}

	.header__list{
		margin-top: 25px;
	}

	.content__login-box {
	    flex-wrap: wrap;
	}

	.table__box {
    	margin: 30px auto;
	}

	.profile__box {
    	margin-left: 10px;
	}
}

@media(max-width: 768px){
	.container{
		width: 430px;
	}

	.content__title {
    	font-size: 19px;
	}

	.header__categori {
	    width: 100%;
	    margin-top: 50px;
	    font-size: 13px;
	}

	.header__inner {
	    flex-direction: column;
	}

	.header__page {
    	margin-top: 25px;
    	font-size: 13px;
	}

	.content__text{
		text-align: center;
		margin-top: 15px;
	}

	.content__login-img{
		margin: 0 auto;
	}

	.content__desc{
		font-size: 13px;
	}

	.content__desc-text{
		font-size: 13px;
	}

	.profile__text{
		font-size: 13px;
	}

	.profile__img {
	    width: 75px;
	    margin-right: 15px;
	}

	.content__login-box {
	    justify-content: center;
	}

	li{
		list-style-type: none;
	}

	ul{
		padding: 10px;
	}
}

@media(max-width: 480px){
	.container{
		width: 280px;
	}

	.content__text {
	    font-size: 12px;
	}

	.profile__img {
	    width: 152px;
	    margin-right: 0px;
	}

	.profile {
	    margin-top: 20px;
	    flex-direction: column;
	    text-align: center;
	}

	.profile__text {
    	font-size: 10px;
    	margin-top: 10px;
	}

	.from__google {
	    margin-left: 0;
	    font-size: 12px;
	    margin-top: 10px;
	}

	.footer__inner{
		flex-direction: column;
		text-align: center;
	}

	.footer__copyright{
		margin-top: 15px;
	}
}