html {   position: relative; height: 100%;	}
body {
    font-family: sans-serif; 
    font-size:14px;
    color:#606060;
	position: relative;
 	 height: 100%;   
}
/* body{
display:flex; 	
flex-direction:column; 
flex-wrap:nowrap;	
justify-content:flex-start; 
align-items:stretch;	
align-content:stretch;
} */
 .full-wrapper {
	min-height: 90%;
} 
a {  text-decoration:underline;	}
table {
    border-collapse: inherit;
}
.table>thead>tr>th {
    vertical-align: middle;
    border-bottom: 2px solid #999;
}
.table>tbody>tr>td  {
    vertical-align: middle; !important;
}
.table>thead>tr>th {
    vertical-align: middle; !important;
}
.table>tbody>tr>th {
    vertical-align: middle; !important;
}
.clear {
    clear: both;
    float: none;
    height: 0;
    font-size: 0;
}
.hidden {
    display: none;
}
.row-header{
    margin-bottom: 30px;
}
.style-form-reg {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}
.style-form-reg-down{
    margin-bottom: 50px;
}
div#u {
    padding: 10px 10px 10px 15px;
    margin-bottom: 9px;
    background-color: #f8d9be;
    border: none;
    border-left: 5px solid #f2be91;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #d26e18;
}
.register-form{
	margin: auto;
}
.form-input {
    border-radius: 0;
    box-shadow: none;
    height: auto;
    line-height: 1.33333;
    padding: 12px 18px;
	border-width: 1px;
    border-style: solid;
    border-color: rgb(158, 158, 158);
    border-image: initial;
    border-radius: 3px;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: arial;
}
.login-form {
  width: 350px;
  padding: 40px 30px;
  background: #eee;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
/*    -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);  */
}
.form-group {
   position: relative; 
  margin-bottom: 15px;
}
.form-control {
  width: 100%;
  height: 50px !important; 
  border: none;
  padding: 5px 7px 5px 15px;
  background: #fff;
  color: #666;
  border: 2px solid #ddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.form-control:focus, .form-control:focus + .fa {
  border-color: #10CE88;
  color: #10CE88;
}
.form-group .fa {
  position: absolute;
  right: 15px;
  top: 17px;
  color: #999;
}
.log-status.wrong-entry {
  -moz-animation: wrong-log 0.3s;
  -webkit-animation: wrong-log 0.3s;
  animation: wrong-log 0.3s;
}
.log-status.wrong-entry .form-control, .wrong-entry .form-control + .fa {
  border-color: #ed1c24;
  color: #ed1c24;
}
.log-btn {
  background: #0AC986;
  dispaly: inline-block;
  width: 100%;
  font-size: 16px;
  height: 50px;
  color: #fff;
  text-decoration: none;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.link {
  text-decoration: none;
  color: #C6C6C6;
  float: right;
  font-size: 12px;
  margin-bottom: 15px;
}
.link:hover {
  text-decoration: underline;
  color: #8C918F;
}
.alert {
  display: none;
  font-size: 12px;
  color: #f00;
  float: left;
}
@-moz-keyframes wrong-log {
  0%, 100% { left: 0px;  }
  20% , 60% { left: 15px;  }
  40% , 80% { left: -15px;  }
}
@-webkit-keyframes wrong-log {
  0%, 100% { left: 0px;  }
  20% , 60% { left: 15px;  }
  40% , 80% { left: -15px;  }
}
@keyframes wrong-log {
  0%, 100% { left: 0px;  }
  20% , 60% { left: 15px;  }
  40% , 80% { left: -15px;  }
}
header {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 999;
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
}
header .top {
    padding: 14px 0 0;
    height: 96px;
}
.topmenu {
    padding: 8px 0 16px;
    font-size: 14px;
    white-space: nowrap;
}
.topmenu li {
    display: inline-block;
    margin-left: 30px;
    position: relative;	
}
.topmenu li:first-child {
    margin-left: 0;
}
.topmenu li a {
    border-bottom: 1px solid #babdc2;
    text-decoration: none;
    display: inline-block;
    line-height: 1em;
}
.topmenu li .ul_wrapper {
    position: absolute;
    top: 21px;
    left: -120px;
    display: none;
}
.topmenu li ul {
    background: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: left;
    padding: 19px 0;
    margin: 16px 0 0;
    position: relative;
}
.topmenu li:hover .ul_wrapper {
    display: block;
}
.topmenu li ul:before {
    content:'';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 12px solid #ddd;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    left: 143px;
    top: -13px;
}
.topmenu li ul:after {
    content:'';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 12px solid #fff;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    left: 143px;
    top: -12px;
}
.topmenu li ul li {
    display: block;
    margin-left: 0;
    white-space: nowrap;
}
.topmenu li ul li a {
    display: block;
    line-height: 40px;
    border-bottom: none;
    padding: 0 26px;
    color: #6d6d6d;
}
.topmenu li ul li a .name {
    color: #b72500;
    font-weight: 700;
}
.topmenu li ul li a:hover {
    background: #313d53;
}
.topmenu li ul li a:hover .name {
    color: #fff;
}
header .back_call {
    float: right;
    margin: 0 0 0 20px;
    text-decoration: none;
    color: #e54d26;
    font-size: 15px;
    line-height: 34px;
    height: 34px;
    border: 1px solid #dddddd;
    padding: 0 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
header .back_call:hover {
    background: #e54d26;
    border: 1px solid #e54d26;
    color: #fff;
}
header .menu {
    clear: both;
    width: 100%;
    background: #313d53;
    height: 40px;
    line-height: 40px;
}
header .menu li {
    display: inline-block;
    margin: 0 18px;
}
header .menu li a {
    color: #fff;
    text-transform: uppercase;
}
.button {
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    background: #e54d26;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #fff;
}
.button:hover {
    color: #fff;
    background: #d53d16;
}
.btn-new{
    width: 170px;
    height: 100%;
}
.btn-div-poster{
    height: 44px;
}
.mesto {
    color: #657073;
    font-size: 20px;
    line-height: 1.5em;
    padding: 21px 0 14px;
}
#wrapper {
    overflow: hidden;
}
.module {
    padding: 60px 0 0;
}
.notice {
    padding: 15px;
    margin: 30px 20px;
    width:400px;
    font-size: 18px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 6px;
    float:left;
}
.notices {
    overflow: hidden;
}
.vip {
    background-color: #ff9d9d;
}
.parter {
    background-color: #ffff9a;
}
.standart {
    background-color: #9bc2e6;
}
.econom {
    background-color: #92d050;
}
.full {
    padding: 25px;
    margin: 30px 20px;
    font-size: 18px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 6px;
    background-color: #bf33bb;
}
.full h2 {color: #fff;}
.full ol, ul {text-align: left; margin-left: 30px;}
.module.sale {
    padding: 32px 0 0;
}
.touchslider-nav span.touchslider-next {
    background-position: -18px 8px;
    margin-left: 2px;
}
.atmosphere .items .touchslider-item {
    display: inline-block;
}
.reasons .item .desc-small {
    display: none;
}
.submenu,
.phone300 {
    display: none;
}
.select_note {
    padding-bottom: 10px;
    color: #D53D16;
    display: none;
}

input, textarea {width:200px; font-size:14px; /*  margin:3px; */ padding:7px 10px; font-family:Arial, Helvetica, sans-serif; }
select {width:224px; font-size:14px;  /*  margin:3px; */  padding:7px 10px; font-family:Arial, Helvetica, sans-serif; cursor:pointer; }
input[type=radio],
input[type=checkbox] {width:auto; cursor:pointer; }
label {cursor:pointer; }
.button {cursor:pointer; border:none; outline:none; line-height:40px; height:40px; padding:0px 20px 0 20px;  }
input.button {height:40px; padding:2px 20px 10px 20px; } 
div#form_tikets, 
#order_tickets {display:none; margin:20px 0px; padding:20px; background-color:#F5F5F5; }
div#form_tikets .title,
#order_tickets .title {font-weight:bold; font-size:24px; text-transform:uppercase; }
div#form_tikets li,
#order_tickets li {list-style:none; }
#bookTicketBtn {cursor:pointer; }
#select_price:required:invalid {color:#999; }
#select_price option[value=""][disabled] {display:none; }
#select_price option {color:#333; }
#page_up {display:none; }
#u {color:red; }
#o {color:green; }

.i_level {display:inline-block; width:30px; height:30px ;border-radius:50%; border:#666 2px solid; background-color:#CCC; }
.i_level_green {background-color:#090; border-color:#060; }
.top_items {
    width: 900px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}
.top_button {
    float: left;
    height: 40px;
    margin-right: 5px;
    white-space: nowrap;
}
.top_button button {
    width: 100%;
    height: 100%;
    background-color: #555555;
    color: #fff;
    font-size: 12px;
    border-style: none;
    padding-left: 20px;
    padding-right: 20px;
}
.top_button .t_btn_orange {
    background-color: #ff9900;
}
.top_search {
    display: flex;
    align-items: center;
    text-align: left;
    width: 340px; 
    margin-left: 20px;
    font-size: 16px;
    color: #555555;
}
.top_search > input {
    width: 100%;
	margin-left: 5px;
	height:100%;
}
.table {
    margin-top: 20px;
    border-spacing:0;
}
.table tr td, .table tr th {
    height: 50px;
    border:1px solid #999;
    color:#444;
    background-color: #fff;
	padding:5px;
}
.table_tickets tr td, .table tr th {
    text-align: center;
}
.table_tickets tr th {
    background-color: #ccc;
}
.table_tickets tr td:first-child {
   width: 400px;
   text-align: left;
}
.table_tickets tr td button{
   height: 28px;
   padding-bottom: 0; 
   padding-top: 0;
   font-size: 12px;
}
 .table_tickets tr td button:first-child {
    margin-left: 7px !important;
    text-align: left;
}
.table_tickets tr td .btn-warning {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: inset 1px 0 0 rgba(255,255,255,0.125), inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);    
    webkit-box-shadow: inset 1px 0 0 rgba(255,255,255,0.125), inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 1px 0 0 rgba(255,255,255,0.125),inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    border-bottom-right-radius: 4px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-image: -ms-linear-gradient(top,#fbb450,#f89406);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f89406));
    background-image: -webkit-linear-gradient(top,#fbb450,#f89406);
    background-image: -o-linear-gradient(top,#fbb450,#f89406);
    background-image: -moz-linear-gradient(top,#fbb450,#f89406);
    background-image: linear-gradient(top,#fbb450,#f89406);
    background-repeat: repeat-x;
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fbb450',endColorstr='#f89406',GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.table_tickets tr td .btn-warning:hover {
    box-shadow: inset 1px 0 0 rgba(255,255,255,0.125), inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);    
    webkit-box-shadow: inset 1px 0 0 rgba(255,255,255,0.125), inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 1px 0 0 rgba(255,255,255,0.125),inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    border-bottom-right-radius: 4px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-image: -ms-linear-gradient(top,#fbb450,#f77c16);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f99c16));
    background-image: -webkit-linear-gradient(top,#fbb450,#f77c16);
    background-image: -o-linear-gradient(top,#fbb450,#f77c16);
    background-image: -moz-linear-gradient(top,#fbb450,#f77c16);
    background-image: linear-gradient(top,#fbb450,#f77c16);
    background-repeat: repeat-x;
    border-color: #f77c16 #f77c16 #ad6704;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fbb450',endColorstr='#f89406',GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    background-color: #f77c16 !important;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
.table_tickets tr td .btn-success {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-image: -ms-linear-gradient(top,#62c462,#51a351);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
    background-image: -webkit-linear-gradient(top,#62c462,#51a351);
    background-image: -o-linear-gradient(top,#62c462,#51a351);
    background-image: -moz-linear-gradient(top,#62c462,#51a351);
    background-image: linear-gradient(top,#62c462,#51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#62c462',endColorstr='#51a351',GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.table_tickets tr td .btn-success:hover {
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-image: -ms-linear-gradient(top,#62c462,#46984b);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#46984b));
    background-image: -webkit-linear-gradient(top,#62c462,#46984b);
    background-image: -o-linear-gradient(top,#62c462,#46984b);
    background-image: -moz-linear-gradient(top,#62c462,#4b984b);
    background-image: linear-gradient(top,#62c462,#46984b);
    background-repeat: repeat-x;
    border-color: #46984b #46984b #387038;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#62c462',endColorstr='#46984b',GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    background-color: #46984b !important;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
.table_tickets tr td .button_mem {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-image: -ms-linear-gradient(top,#ffffff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#ffffff,#e6e6e6);
    background-image: -o-linear-gradient(top,#ffffff,#e6e6e6);
    background-image: linear-gradient(top,#ffffff,#e6e6e6);
    background-image: -moz-linear-gradient(top,#ffffff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff',endColorstr='#e6e6e6',GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
}
.table_tickets tr td .button_mem:hover {
    background-image: -ms-linear-gradient(top,#ffffff,#c3c3c3);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#ffffff,#e6e6e6);
    background-image: -o-linear-gradient(top,#ffffff,#c3c3c3);
    background-image: linear-gradient(top,#ffffff,#e6e6e6);
    background-image: -moz-linear-gradient(top,#ffffff,#c3c3c3);
    background-repeat: repeat-x;
    border: 1px solid #b0b0b0;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-color: #c3c3c3 #c3c3c3 #bfbfbf;
    border-bottom-color: #a0a0a0;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff',endColorstr='#e6e6e6',GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
}
.table tr td a {color:#006; }
.table tr.title td,
.table tr.title:hover td {font-weight:bold; color:#333; background-color:#C5C5C5; text-align:center; }
.table tr:hover td {background-color:#FFC; }
#menu_top {display:block; width:95%; margin:30px auto; text-align:center; }
#menu_top .text {display:block; width:100%; }
#menu_top .text ul {list-style:none; display:inline-block; margin:0; padding:0; }
#menu_top .text ul li {display:inline-block; }
#menu_top .text ul li a {display:block; padding:10px 20px; text-decoration:none; color:#FFF; background-color:#555; }
#menu_top ul li a.on {background-color:#F90; }
#page {display:block; width:95%; margin:auto; }
#footer {display:block; width:95%; margin:auto; padding:50px 0 30px 20px; text-align:center; }
#footer .footer {display:block; width:100%; }
#footer .footer ul {list-style:none; display:inline-block; margin:0; padding:0; }
#footer .footer ul li {display:inline-block; }
#footer .footer ul li a {display:block; padding:5px 10px; text-decoration:none; }
#copyright {color:#999; }
#stat {display:none; }
.each_wrapper{
    width: 820px;
    margin: 0 auto;
}
.top_but{
    height: 32px !important;
    width: 150px;
    padding-bottom: 0;
    padding-top: 0;
    font-size: 15px;
}
input.top_but{
    background-color: #e54d26;
    color:#fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 0 #fff;
}
input.top_but:hover{
    background-color: #d53d16;
}
#page{
    margin:0 auto;
    width: 100%;  
}
#form_edit{
    text-align: left;
    width: 100%;
    display: block;
    margin:0 auto;   
}
#form_edit_wrapper{
   background-color:#FCFCED;
   padding: 15px;
   width: 100%; 
}
textarea{
    margin-left: 0px;
}
#event1 > input{
    width: 510px;
}
#event1_link{
    display: inline-block;
    margin-top:20px;
}
.info_wrapper{
    width: 270px;
    display: inline-block;
    vertical-align: top;
}

/*.info_wrapper:last-child{
    margin-left: 50px;
}*/

.info_wrapper > div{
   margin-bottom: 10px;
}
.main_info > .info_wrapper:first-child > div:first-child > input:first-child {
    margin-left: 14px;
}
.main_info > .info_wrapper:last-child > div:first-child > input {
    margin-left: 16px;
}
.main_info > .info_wrapper:last-child > div:last-child > input {
    width: 270px;
}
.date1 > input {
    width: 130px;
    padding-left: 0;
    padding-right: 0;
}
.time1 > input {
    width: 130px;
    padding-left: 10px;
    padding-right: 10px;
}
.t_descr{
    width: 95%;
    height: 100px;
}
.payments #radio_buttons > div > input{
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer; 
    height: inherit;
}
.payments .info_wrapper:last-child input{
    display: inline-block;
    width: 100px;
}
#free_event{
    height: 20px !important;
    width: 20px;
    background-color: #fff !important;
    margin-left: 3px;
}
#free_event + span{
    position: relative;
    top:-4px;
}
.table{
    border-spacing:0;
    margin-bottom: 5px;
}
.table tr td, .table tr th{
    height: 50px;
    border:1px solid #999;
    color:#444;
    text-align: center;
    background-color: #fff;
	font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
th {
	font-size: 16px !important;
}
.table tr th{
    background-color: #ccc;
}
.table tr td button{
   height: 28px;
   padding-bottom: 0; 
   padding-top: 0;
   font-size: 12px;
}
.table tr td button:first-child{
    margin-left: 7px !important;
    text-align: left;
}
.tickets > p{
    margin-top: 0;
    margin-bottom: 8px;
}
.table + p, .free_tickets  {
    display: inline-block;
}
.free_tickets {
   margin-left: 80px;
}
.publications button{
    height: 50px;
    width: 95%;
}
.publications input.button{
    height: 40px !important;
}
@media screen and (max-width: 767px) {
#menu_top{
    margin:10px auto;
}
#menu_top .text .menu li{
        display: inline-block;
        margin-bottom: 5px;
}
#form_edit_wrapper{
   padding: 10px; 
}
.each_wrapper{
    width: 100%;
}
#event1 > input{
    width: 250px;
}
.info_wrapper{
    width: 330px;
}
.info_wrapper:last-child{
    margin-left: 0;
}
.main_info > .info_wrapper:last-child > div:last-child > input {
    width: 200px;
}
.main_info > .info_wrapper:last-child > div:last-child > input {
    width: 225px;
}
input.top_but{
    display: inline-block;
    margin-top: 15px;
    margin-left: 8px;
}
.date1 > input {
    width: 110px;
    font-size: 12px;
}
.time1 > input {
    width: 109px;
    font-size: 12px;
}
.table tr th{
   width: 100px;  
}    
.table tr td, .table tr th{
    border:#999 1px solid; color:#444;
    text-align: center;
    height: 40px;
    padding-left:3px;
    padding-right: 3px;
    font-size: 14px;
}
.free_tickets  {
   margin-left: 0;
   display: block;
}
.publications button{
    height: 50px;
    width: 100%;
    font-size: 12.5px;
}
#footer{ padding:0; }
}
@media (min-width: 430px) and (max-width: 681px) {
.each_wrapper, table{
    max-width: 430px;
}}

#page {
	flex-grow:1;
}
.footable-first-visible {	cursor: pointer;	}
.fooicon-minus:before {
        cursor: pointer;
    position: absolute;
    left: 85%;
}
.fooicon-plus:before  {
        cursor: pointer;
    position: absolute;
    left: 85%;
}
.m_head{
    display: block;
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;   
}
.m_head_edit{
    text-transform: none;
    text-decoration: underline;
    margin-bottom: 0;
    font-size: 20px;
}

.portlet-title{
	border-bottom: 1px solid #eef1f5;
	margin-bottom: 10px;
}
.bordered{
	border: 1px solid #e7ecf1 !important;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
/* 	height: 50%; */
}
.portlet-row{
	padding-bottom: 15px;
/* 	min-height: 100%;
	max-height: 100%; */
}
.col-no{
	padding-left: 0px;
	padding-right: 15px;
}
.id01{
height: 285px;
}
@media  (max-width: 681px) {
.bordered{
	border: 0px !important;
	padding-left: 0px;
	padding-right: 0px;
}
.col-no{
	padding-left: 10px;
	padding-right: 10px;
}
.id01{
height: auto;
}
}
/* 
@media (max-height: 800px) {
footer {
    height: 150px;
    margin-top: 50px;

 position: absolute;
bottom: 0px;
width: 100%; 
}
html {  height: 100%; 	}
body {  height: 100%;   }
} */

.modal__menu--bottom{
  width: 100%;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #555;
  display: none;
  align-items: center;
  justify-content: space-around;
  z-index: 55;
}

.modal__menu--bottom--item{
  padding: 20px;
  font-size: 25px;
  color: #fff;
}

.modal__menu--bottom--item:hover .fa,
.modal__menu--bottom--item:active{
  color: #d7d7d7;
}

.fa{
  transition: .2s linear;
}

.menu__mobile--top{
  width: 100%;
  padding: 10px 20px;
  background: #555;
  display: none;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
}

.menu__icon{
  width: 30px;
  height: auto;
  fill: #fff;
}

.balance{
  color: #fff;
  text-decoration: none;
  transition: .2s linear;
}

.balance:hover{
  color: #fff;
}

.fixed__modal{
  position: fixed;
  top: 0px;
  left: 0;
}

.modal__mobile--slide{
  width: 100%;
  height: calc(100% - 85px - 50px);
  background: #555;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 50;
  display: none;
  flex-direction: column;
  padding: 50px;
}

.modal__mobile--slide--item{
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
  text-decoration: none;
}

#menu_top .text ul{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#menu_top .text li{
  margin: 10px 10px 0 0;
}

.modal__mobile--slide--item:active{
  color: #d7d7d7;
}

.modal__mobile--slide--item:hover{
  color: #d7d7d7;
}

.modal__mobile--slide--item:hover .fa{
  color: #d7d7d7;
}

.table{
  width: 720px;
}

.modal__mobile--slide--item:first-child{
  margin-top: 0;
}

.modal__mobile--item--continue{
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s linear;
}

.modal__mobile--item--continue:hover{
  color: #d7d7d7;
}

.open__mobile{
  width: 100%;
  position: fixed;
  bottom: 88px;
  left: 0;
  background: #36c6d3;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  display: none;
}

#menu_top .text ul .up a{
  background: #2ebaee;
}

.button__up{
  background: #ffc222;
  width: 100%;
  position: fixed;
  bottom: 136px;
  left: 0;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  display: none;
}

.popup_bg1 {
    position: fixed;
    z-index: 888888;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
}

.popup_box1 {
    position: fixed;
    z-index: 777777;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    align-items: center;
    justify-content: center;
}

.popup_box1:after {
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
    content: '';
}

.popup_win1 {
    display: inline-block;
    position: relative;
    z-index: 999999;
    vertical-align: middle;
    width: 85%;
    max-height: 95%;
    overflow-x: auto;
    overflow-y: none;
    padding: 5px 15px 15px 15px;
    border: #666 2px solid;
    background-color: #fff;
    text-align: left;
}

.popup_title1 {
    display: block;
    margin: -15px -15px 10px -15px;
    padding: 10px;
    color: #FFF;
    background: #99cb13;
}

.popup_close1 {
    float: right;
    margin: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 33px;
}

.click__menu--item{
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  transition: .2s linear;
}

.click__menu--item:hover{
  text-decoration: underline;
  color: #ccc;
}

@media(max-width: 920px){

  tbody .title{
    display: none;
  }

  tbody .title.title1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
  }

  .views{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .table tr td, .table tr th{
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .table tr .th{
    width: 100%;
    height: 60px;
    padding: 20px;
  }

  .page{
    padding: 15px;
  }

  .table{
    width: 100%;
  }

  .popup_win1 {
      width: 95%;
  }

  .popup__table1{
    display: flex;
    width: 100%;
  }

  #ticket_86734, .popup__table--item1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
  }
}

@media(max-width: 768px){
  .modal__menu--bottom, .menu__mobile--top{
    display: flex;
  }
  #menu_top .text{
    display: none;
  }
  .open{
    display: none;
  }
  .open__mobile, .button__up{
    display: block;
  }

  .footer{
    margin-bottom: 136px;
  }

  .popup__table--item{
    background: #ccc;
  }

  .popup_win h1{
    font-size: 25px;
  }

  .click__menu {
      padding: 15px;
      background: #555;
      position: fixed;
      left: 0;
      bottom: 88px;
      z-index: 103;
      width: 100%;
      display: none;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      min-height: 100px;
  }
}

@media(max-width: 510px){

}

@media(max-width: 480px){
  .modal__menu--bottom--item{
    padding: 10px;
    font-size: 20px;
  }
  .modal__mobile--slide{
    height: calc(100% - 55px - 50px);
  }
  .modal__menu--bottom{
    justify-content: space-between;
  }
  .open__mobile{
    bottom: 68px;
  }

  .footer{
    margin-bottom: 116px;
  }

  .button__up{
    bottom: 116px;
  }

  .click__menu{
    bottom: 68px;
  }
}