/*============== Ширина ==============*/

@media(max-width: 1745px){
	.games{
		width: 100%;
		max-width: 169px;
	}

	.main__like--games--carousel{
		max-width: 750px;
	}
}

@media(max-width: 1670px){
	.add__like--inner{
		width: 80%;
	}
}

@media(max-width: 1400px){
	.main{
		margin-right: 0;
	}

	.chat__inner{
		height: 350px;
	}

	.add__like--inner{
		width: 90%;
	}
}

@media(max-width: 1300px){
	.container{
		width: 1150px;
	}

	.add__like--inner{
		width: 100%;
	}
}

@media(max-width: 1200px){
	.container{
		width: 950px;
	}

	.header__top--description{
		display: none;
	}

	.add__like--item--box{
		width: 50%;
	}

	.add__like--item--box:nth-child(3){
		margin-top: 4rem;
	}

	.choose__color-item{
		width: 33.3%;
	}

	.header__bottom--links{
		width: 100%;
		order: 3;
		margin-top: 2rem;
		justify-content: space-between;
	}

	.header__bottom--content{
		flex-wrap: wrap;
	}

	.main{
		max-width: 83%;
	}

	.payment{
		display: none;
	}

	.balance__inner{
		margin-right: 0;
	}

	.mobile__payment{
		display: inline-block;
	}

	.main__last--wins--inner{
		padding: 2rem;
	}
}

@media(max-width: 998px){
	.container{
		width: 728px;
	}

	.header__top--left--inner, .header__top--profile--inner,
	.header__bottom--content, .main__title--inner{
		display: none;
	}

	.menu__mobile--icon{
		display: flex;
	}

	.content{
		flex-direction: column;
	}

	.main{
		padding: 0;
		max-width: 100%;
	}

	.games{
		width: 100%;
		max-width: 100%;
		min-height: auto;
		margin-top: 3rem;
		border-radius: var(--borderO);
	}

	.content{
		padding: 4.5rem 3rem 7rem 3rem;
	}

	.game__box{
		width: 48%;
	}

	.game__box--inner{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.footer__inner{
		flex-wrap: wrap;
	}

	.footer__logo{
		width: 100%;
		justify-content: center;
	}

	.footer__inner--link{
		order: 3;
		margin-top: 2rem;
	}

	.main__title--inner--mob{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
	}

	.content{
		padding-top: 1rem;
	}

	.chat__content{
		top: 100px;
	}

	.add__like--item--box{
		width: 100%;
	}

	.add__like--item--box:nth-child(2){
		margin-top: 4rem;
	}
}

@media(max-width: 768px){
	.container{
		width: 445px;
	}

	.modal__title{
		font-size: 2.5rem;
	}

	.modal__content{
		padding: 1.5rem;
	}

	.modal__cross{
		top: 20px;
		right: 20px;
		font-size: 3rem;
	}

	.choose__color--box{
		max-height: 200px;
	}

	.choose__color-item{
		width: 50%;
	}

	.main__last--wins--title, .main__last--wins--inner{
		display: none;
	}
}

@media(max-width: 480px){
	.container{
		width: 290px;
	}

	.main__like--games--item{
		width: 240px;
		height: 170px;
	}

	.add__like--inner{
		max-height: 170px;
	}

	.modal__text {
		font-size: 1.5rem;
	}

	.modal__content{
		justify-content: space-around;
	}

	.choose__color-item{
		width: 100%;
	}

	.modal {
		padding: 1rem;
	}

	.modal__content {
		max-height: 100%;
		max-width: 100%;
	}

	.content{
		padding: 0;
	}

	.footer__inner--link{
		width: 100%;
		justify-content: center;
		display: flex;
	}

	.footer__inner{
		padding: 2rem;
	}

	.main__like--games--inner{
		padding: 2rem 1rem;
	}

	.main__title--inner--mob{
		padding: 1rem;
	}

	.main__button--edit{
		margin-top: 8.5rem;
	}

	.main__arrow{
		top: 126%;
	}

	.main__arrow--prev{
		left: 75px;
	}

	.main__arrow--next{
		right: 75px;
	}

	.main__subtitle{
		font-size: var(--playF);
	}

	.site__logo{
		display: block;
	}

	.footer__logo{
		display: flex;
	}

	.games, .main__like--games--inner{
		border-radius: 0;
	}

	.chat__content{
		top: 0;
		height: 100vh;
		width: 100%;
		position: fixed;
		border-radius: 0;
	}

	.chat{
		height: 85%;
		max-width: 100%;
		border-radius: 0;
	}

	.chat__inner{
		height: 90%;
	}

	.chat__send--inner{
		border-radius: 0;
		height: 15%;
	}

	.chat__message{
		justify-content: center;
	}

	.chat__send--input{
		width: 100%;
		margin-right: 1.5rem;
	}

	.chat__img--user--box{
		width: 13%;
		margin-right: 1rem;
	}

	.chat__inner--text--inner{
		max-width: 87%;
		width: 87%;
		margin-right: 0;
	}

	.chat__close--inner{
		left: 6px;
	}

	.chat__button--on{
		left: -107px;
	}

	.chat__close--inner{
		opacity: .2;
	}

	.chat__close--inner:hover{
		opacity: 1;
	}

	.chat__online--inner{
		font-size: 1.2rem;
	}
	
	.chat__button--on{
		right: 5px;
		left: auto;
	}
}

/*============== Высота ==============*/

@media(max-height: 830px){
	.add__like--inner{
		max-height: 200px;
	}
}

@media(max-height: 725px){
	.modal{
		padding: 1rem;
	}

	.modal__content{
		max-width: 100%;
		max-height: 100%;
	}

	.chat{
		height: 80%;
	}

	.chat__send--inner{
		height: 20%;
	}
}

@media(max-height: 630px){
	.modal__content{
		padding: 1.5rem;
	}
	.choose__color--box{
		margin-top: 3rem;
	}

	.modal__cross{
		top: 20px;
		right: 20px;
		font-size: 3rem;
	}

	.chat{
		height: 75%;
	}

	.chat__send--inner{
		height: 25%;
	}

	.chat__close--inner{
		top: 130px;
	}

	.chat__content{
		top: 0px;
	}
}

@media(max-height: 560px){

	.modal__text{
		font-size: var(--nickF);
	}

	.modal__title{
		font-size: var(--gamesF);
	}

	.modal__cross{
		font-size: 2.5rem;
	}

	.choose__color-item{
		min-height: 120px;
	}
	.choose__color--box{
		margin-top: 1rem;
		max-height: 120px;
	}
}