/* Ширина */

@media(max-width: 1745px){
	.games{
		width: auto;
		max-width: 169px;
	}

	.main__like--games--carousel{
		max-width: 750px;
	}
}

@media(max-width: 1670px){
}

@media(max-width: 1400px){
	.main{
		margin-right: 0;
	}

	.chat__inner{
		height: 550px;
	}
}

@media(max-width: 1300px){
	.container{
		width: 1150px;
	}
}

/* Высота */

@media(max-height: 830px){
	.add__like--item{
		width: 250px;
		height: 160px;
	}
}

@media(max-height: 725px){
	.modal{
		padding: 1rem;
	}

	.modal__content{
		max-width: 100%;
		max-height: 100%;
	}
}

@media(max-height: 630px){
	.modal__content{
		padding: 1.5rem;
	}
}

@media(max-height: 560px){
	.add__like--item{
		width: 220px;
		height: 120px;
	}

	.modal__text{
		font-size: var(--nickF);
	}

	.modal__title{
		font-size: var(--gamesF);
	}
}