/* Colors */
/* Text color */ 

$whiteC: #fff;
$blackC: #000;
$blueC: #517ff1;
$lightgreyC: #5e697e;
$greyC: #606266;
$yellowC: #a19c5e;
$greenC: #5bb671;
$scrollC: #1d2129;
$nickiconC: #2d3340;

/* Background color */ 

$sectionB: #22262f;
$sectiondarkB: #20242d;
$borderB: #2f3642;
$sendB: #2a2e39;
$nickB: #252933;
$linkB: #272c36;

/* Font size */

$smallF: 1.2rem;
$nickF: 1.4rem;
$mediumF: 1.5rem;
$bigF: 1.6rem;
$playF: 1.8rem;
$gamesF: 2rem;
$titleF: 2.2rem;

/* Font family */

$lightF: MontserratLight;
$regularF: MontserratRegular;
$mediumF: MontserratMedium;
$semiboldF: MontserratSemibold;
$boldF: MontserratBold;

/* Other */

$borderO: 1rem;
$bordersmallO: .6rem;