/* ================= Imports ================= */ 

@import "vars";
@import "libs";
@import "fonts";

/* ================= Base settings ================= */ 

:root{
	font-size: 10px;
}

body{
	overflow-x: hidden;
	font-family: $regularF;
	margin: 0;
	background: url("../img/home-bg.jpg");
	font-size: 1.5rem;
	color: $whiteC;
}

*,
*:after,
*:before{
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: $whiteC;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
}

h1, h2, h3, h4, h5, h5, p{
	margin: 0;
}

/* ================= Scroll ================= */

::-webkit-scrollbar{
	width: 7px;
}

::-webkit-scrollbar-track{
	background: $sendB;
}

::-webkit-scrollbar-thumb{
	background: $scrollC;
	border-radius: 1rem;
}

/* ================= Special class ================= */

.container{
	max-width: 1250px;
	margin: 0 auto;
}

.button{
	outline: none;
	border: none;
	background: transparent;
	display: inline-block;
	cursor: pointer;
	transition: .2s linear;
}

.input{
	background: none;
	outline: none;
	border: none;
}

.blue{
	color: $blueC;
	transition: .2s linear;
}

.green{
	color: $greenC;
}

.icon{
	margin-right: .4rem;
}

.arrow{
	transition: .4s linear;
	width: 20px;
	fill: $lightgreyC;
}

/* Active class */

.header__top--language--flag.active__flag{
	background: darken($sectionB, 5);
} 












/* ================= Header ================= */ 

/*=== Верхняя часть хедера ===*/

.header__top--inner{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem 0;
}

.header__top--left--inner{
	display: flex;
	align-items: center;
}

/*=== Выбор цветовой гаммы верхняя часть хедера ===*/

.header__top--choose--color{
	font-size: $bigF;
	padding: 1.2rem 1.6rem;
	background: $sectionB;
	border-radius: $bordersmallO;
	margin-right: 3rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: .2s linear;
} 

.header__top--choose--color:hover{
	background: darken($sectionB, 5);
}

.choose__color{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: $blueC;
	margin-left: 1rem;
}

/*=== Описание верхняя часть хедера ===*/

.header__top--description{
	font-size: $bigF;
	padding: 1.2rem 1.6rem;
	background: $sectionB;
	border-radius: $bordersmallO;
}

/*=== Логотип верхняя часть хедера ===*/ 

.site__logo{
	font-size: $gamesF;
	font-family: $boldF;
	display: flex;
	align-items: center;
	transition: .2s linear;
}

.site__logo:hover{
	opacity: .5;
}

/*=== Профиль контейнер верхняя часть хедера ===*/
/* Смена языка */ 

.header__top--profile--inner, .header__top--language--inner{
	display: flex;
	align-items: center;
}

.header__top--language--inner{
	margin-right: 4.5rem;
}

.header__top--language--flag{
	text-transform: uppercase;
	padding: .8rem 1.5rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	background: $sectionB;
	transition: .3s linear;
}

.header__top--language--flag:hover{
	background: darken($sectionB, 5);
}

.header__top--language--flag:first-child{
	border-radius: 1.3rem 0 0 1.3rem;
}

.header__top--language--flag:last-child{
	border-radius: 0 1.3rem 1.3rem 0;
}

.language__flag{
	width: 23px;
}

/* Профиль */ 

.header__top--profile{
	font-size: $nickF;
	font-family: $semiboldF;
	display: flex;
	align-items: center;
	border-radius: $borderO;
	padding: .8rem 1.5rem;
	background: $sectionB;
	max-width: 240px;
	transition: .2s linear;
}

.header__top--profile:hover{
	background: darken($sectionB, 5);
}

.site__profile--img{
	margin-right: 1.5rem;
	overflow: hidden;
	width: 35px;
	height: 35px;
	border-radius: $borderO;	
	display: flex;
	align-items: center;
	justify-content: center;
}

.user__img{
	width: 100%;
}

/*=== Нижняя часть хедера ===*/ 

.header__bottom--inner{
	width: 100%;
	background: $sectionB;
}

.header__bottom--content{
	padding: 2.5rem 4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/*=== Страница нижняя часть хедера ===*/

.header__bottom--page{
	font-size: $gamesF;
	font-family: $boldF;
} 

/*=== Ссылки нижняя часть хедера ===*/

.header__bottom--links{
	display: flex;
	align-items: center;
}

.header__bottom--link{
	padding: 1rem 1.3rem;
	margin-right: 3rem;
	display: inline-block;
	background: $linkB;
	font-size: $bigF;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 2;
	transition: .3s linear;
}

.header__bottom--link:before{
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: $blueC;
	z-index: -1;
	transition: transform .5s;
	transform-origin: 0 0;
	transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
	transform: scaleY(0);
}

.header__bottom--link:hover:before{
	transform: scaleY(1);
}

.header__bottom--link:last-child{
	margin-right: 0;
}

/*=== Кошелек нижняя часть хедера ===*/ 

.header__bottom--payments{
	display: flex;
	align-items: center;
}

.balance__inner{
	font-family: $semiboldF;
	margin-right: 1.5rem;
	font-size: $nickF;
	max-width: 180px;
	word-break: break-all;
}


/* ================= Content ================= */

.content{
	width: 100%;
	padding: 4.5rem 0 7rem 0;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

/*=== Games ===*/

.games{
	background: $sectionB;
	border-radius: 0 1rem 1rem 0;
	padding: 2rem 2.5rem;
	display: inline-block;
	max-width: 350px;
	width: 100%;
	min-height: 700px;
}

.games__title, .chat__title{
	font-size: $gamesF;
	padding-bottom: 1.3rem;
	border-bottom: 1px dashed $lightgreyC;
	text-align: center;
}

.game__box--inner{
	display: flex;
	flex-direction: column;
}

.game__box{
	width: 100%;
	margin-top: 3rem;
	display: flex;
	justify-content: center;
	padding: 1rem 2rem;
	background: $borderB;
	border-radius: $borderO;
	transition: .2s linear;
}

.game__box:hover{
	background: $blueC;
}

/*=== Main ===*/ 

.main{
	padding: 0 5rem;
	text-align: center;
	width: 100%;
	max-width: 1215px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*=== Main верхний текст ===*/ 

.main__title{
	margin-top: 2rem;
}

.main__subtitle{
	margin-top: 3.5rem;
	font-size: $titleF;
	max-width: 620px;
	line-height: 1.3;
}

.expcash{
	font-family: $boldF;
	padding-bottom: .1rem;
	border-bottom: 1px dashed $whiteC;
}

.main__play{
	margin-top: 5rem;
	border-radius: $borderO;
	border: 2px solid $blueC;
	background: transparent;
	padding: .8rem 4rem;
	font-family: $semiboldF;
	transition: .3s linear;
}

.main__play--button .main__play {
    position: relative;
    overflow: hidden;
}

.main__play--button .button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: $blueC;
    height: 150px;
    width: 270px;
    border-radius: 50%;
}

.main__play--button .button:hover {
    border: 2px solid transparent;
}

.main__play--button .button:nth-child(1):before {
    top: 100%;
    left: 100%;
    transition: all .5s;
}

.main__play--button .button:nth-child(1):hover:before {
    top: -40px;
    left: -40px;
}

/*=== Контейнер любимых игр ===*/

.main__like--games--inner{
	margin-top: 4.5rem;
	padding: 2.5rem;
	background: $sectionB;
	width: 100%;
	border-radius: $borderO;
	position: relative;
}

.main__like--games--title{
	font-size: $gamesF;
}

/*=== Слайдер любимых игр ===*/ 

.main__like--games--slider{
	margin-top: 3rem;
	width: 100%;
	position: relative;
}

.main__like--games--carousel{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 0 3.5rem;
	max-width: 1040px;
	margin: 0 auto;
}

/* Элемент слайдера */ 

.main__like--games--item{
	width: 300px;
	height: 200px;
	border-radius: $borderO;
	border: 3px dashed $borderB;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: .2s linear;
	position: relative;
}

.main__like--games--item:hover{
	border: 3px dashed $blueC;
}

.main__like--games--item:hover .main__like--add--game{
	background: $blueC;
}

.main__like--add--game{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: $borderB;
	color: $sectiondarkB;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	transition: .2s linear;
}

.icon__add{
	font-size: 3rem;
}

/* Стрелки слайдера */ 

.main__arrow{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: $sectiondarkB;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 5;
	transition: .2s linear;
}

.main__arrow:hover{
	background: $yellowC;
}

.main__arrow--next{
	right: -15px;
}

.main__arrow--prev{
	left: -15px;
}

/*=== Стилизация окошек игр ===*/ 

.game__inner--mask{
	width: calc(100% + 6px);
	height: calc(100% + 6px);
	position: absolute;
	top: -3px;
	left: -3px;
	background: $sectiondarkB;
	border-radius: $borderO;
	padding: 2.5rem;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	border: 3px solid transparent;
	transition: .2s linear;
}

.game__inner--mask:hover{
	border: 3px solid $blueC;
}

/*=== Заголовок последних выйгрышей ===*/ 

.main__last--wins--title{
	font-size: $titleF;
	margin-top: 7rem;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.last__wins--wave{
	margin-top: .6rem;
	fill: $blueC;
}

/*=== Контейнер последних выйгрышей ===*/ 

.main__last--wins--inner{
	padding: 2rem 7.5rem;
	border-radius: $borderO;
	margin-top: 2rem;
	background: $sectiondarkB;
	width: 100%;
	height: 250px;
	word-break: break-all;
	overflow-x: hidden;
	overflow-y: auto;
}

.main__last--wins--views, .main__last--wins--item{
	width: 100%;
	background: $nickB;
	padding: 1.5rem 3rem;
	display: flex;
	align-items: center;
}

.main__last--wins--item{
	background: $sectionB;
	padding: 2.5rem 3rem;
	border-bottom: 3px solid $sendB;
}

.main__last--wins--item:last-child{
	border-bottom: none;
}

.main__last--wins--view, .main__last--wins--value{
	padding: 0px .5rem;
}

/* Ширина полей в последних выигрышах */ 

.game__view{
	width: 15%;
}

.user__view{
	width: 20%;
}

.time__view{
	width: 10%;
}

.forecast__view{
	width: 20%;
}

.coef__view{
	width: 15%;
}

.wins__view{
	width: 20%;
}



/*=== Chat ===*/

.chat__content{
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 1rem 0 0 1rem;
	transition: .5s linear;
}

.chat{
	background: $sectionB;
	padding: 2rem 2.5rem;
	border-radius: 1rem 0 0 0;
	display: inline-block;
	max-width: 350px;
	width: 100%;
	position: relative;
	transition: .5s linear;
}

.chat__title{
	display: flex;
	align-items: center;
	justify-content: center;
}

.chat__title--icon{
	width: 22px;
	fill: $blueC;
	margin-left: .5rem;
}

.chat__inner{
	height: 650px;
	overflow-x: hidden;
	overflow-y: scroll;
	margin-top: 2rem;
}

.chat__message{
	margin: 3rem 0;
	padding: 0px 1.5rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.chat__inner--text--inner{
	display: flex;
	flex-direction: column;
	max-width: 200px;
	margin-right: 1rem;
}

.chat__inner--text--box{
	display: flex;
	justify-content: space-between;
}

.chat__inner--nick{
	color: $greyC;
	margin-right: 1.5rem;
	word-break: break-all;
}

.chat__inner--time{
	color: $greyC;
}

.chat__inner--text{
	word-break: break-word;
	margin-top: .7rem;
}

/*=== Кнопка закрытия чата ===*/ 

.chat__close--inner{
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background: $sectiondarkB;
	position: absolute;
	top: 180px;
	left: -27px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 10px $sectiondarkB;
	cursor: pointer;
	transition: .2s linear;
}

.chat__close--inner:hover{
	background: darken($sectiondarkB, 5);
}

.chat__off{
	transform: translateX(100%);
}

.chat__button--on{
	position: fixed;
	left: -55px;
}

.chat__close--icon--rotate{
	transform: rotate(180deg);
}

/*=== Поле отправки ссообщения в чат ===*/ 

.chat__send--inner{
	border-radius: 0 0 0 1rem;
	padding: 1rem 2rem;
	background: $sectiondarkB;
	width: 100%;
}

.chat__send--box{
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.chat__send--buttons{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.chat__send--input{
	padding: 1rem;
	resize: none;
	height: 100px;
	width: 220px;
	color: $whiteC;
}

.chat__send--button, .chat__send--smail{
	width: 44px;
	height: 44px;
	border-radius: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: $sendB;
	transition: .3s linear;
}

.chat__send--smail{
	background: none;
	border: 1px solid $sendB;
	margin-top: 1rem;
}

.chat__send--button:hover, .chat__send--smail:hover{
	opacity: .5;
}

.send__icon{
	color: $blueC;
}

.smile__icon{
	color: #F6D061;
}





/* ================= Footer ================= */ 

.footer{
	width: 100%;
	background: $sectiondarkB;
}

.footer__inner{
	padding: 4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/*=== Футерные ссылки ===*/

.footer__inner--link{
	color: $lightgreyC;
}

.greenS:before{
	content: "";
	display: block;
	background: green;
}

.redS:before{
	content: "";
	display: block;
	background: red;
}

.yellowS:before{
	content: "";
	display: block;
	background: yellow;
}






/* ==================== Preloader =============== */

#preloader {
  background: $sectionB;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370DB;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #BA55D3;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF00FF;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
} 


/* ================= Imports media ================= */

@import "media";