/* ================= Imports ================= */ 

@import "vars";
@import "libs";
@import "fonts";

/* ================= Base settings ================= */ 

:root{
	font-size: 10px;
}

body{
	overflow-x: hidden;
	font-family: $regularF;
	margin: 0;
	background: url("../img/home-bg.jpg");
	font-size: 1.5rem;
	color: $whiteC;
}

*,
*:after,
*:before{
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: $whiteC;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
}

h1, h2, h3, h4, h5, h5, p{
	margin: 0;
}

/* ================= Scroll ================= */

::-webkit-scrollbar{
	width: 7px;
}

::-webkit-scrollbar-track{
	background: $sendB;
}

::-webkit-scrollbar-thumb{
	background: $scrollC;
	border-radius: 1rem;
}

/* ================= Special class ================= */

.container{
	max-width: 1250px;
	margin: 0 auto;
}

.button{
	outline: none;
	border: none;
	background: transparent;
	transition: .2s linear;
	cursor: pointer;
	transition: .2s linear;
}

.blue{
	color: $blueC;
	transition: .2s linear;
}

.green{
	color: $greenC;
}

.icon{
	margin-right: .4rem;
}

/* Active class */

.header__top--language--flag.active__flag{
	background: darken($sectionB, 5);
} 












/* ================= Header ================= */ 

/*=== Верхняя часть хедера ===*/

.header__top--inner{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem 0;
}

/*=== Описание верхняя часть хедера ===*/

.header__top--description{
	font-size: $bigF;
	padding: 1.2rem 1.6rem;
	background: $sectionB;
	border-radius: $bordersmallO;
}

/*=== Логотип верхняя часть хедера ===*/ 

.site__logo{
	font-size: $gamesF;
	font-family: $boldF;
	display: flex;
	align-items: center;
	transition: .2s linear;
}

.site__logo:hover{
	opacity: .5;
}

/*=== Профиль контейнер верхняя часть хедера ===*/
/* Смена языка */ 

.header__top--profile--inner, .header__top--language--inner{
	display: flex;
	align-items: center;
}

.header__top--language--inner{
	margin-right: 4.5rem;
}

.header__top--language--flag{
	text-transform: uppercase;
	padding: .8rem 1.5rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	background: $sectionB;
	transition: .3s linear;
}

.header__top--language--flag:hover{
	background: darken($sectionB, 5);
}

.header__top--language--flag:first-child{
	border-radius: 1.3rem 0 0 1.3rem;
}

.header__top--language--flag:last-child{
	border-radius: 0 1.3rem 1.3rem 0;
}

.language__flag{
	width: 23px;
}

/* Профиль */ 

.header__top--profile{
	font-size: $nickF;
	font-family: $semiboldF;
	display: flex;
	align-items: center;
	border-radius: $borderO;
	padding: .8rem 1.5rem;
	background: $sectionB;
	max-width: 240px;
	transition: .2s linear;
}

.header__top--profile:hover{
	background: darken($sectionB, 5);
}

.site__profile--img{
	margin-right: 1.5rem;
	overflow: hidden;
	width: 35px;
	height: 35px;
	border-radius: $borderO;	
	display: flex;
	align-items: center;
	justify-content: center;
}

.user__img{
	width: 100%;
}

/*=== Нижняя часть хедера ===*/ 

.header__bottom--inner{
	width: 100%;
	background: $sectionB;
}

.header__bottom--content{
	padding: 2.5rem 4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/*=== Страница нижняя часть хедера ===*/

.header__bottom--page{
	font-size: $gamesF;
	font-family: $boldF;
} 

/*=== Ссылки нижняя часть хедера ===*/

.header__bottom--links{
	display: flex;
	align-items: center;
}

.header__bottom--link{
	padding: 1rem 1.3rem;
	margin-right: 3rem;
	display: inline-block;
	background: $linkB;
	font-size: $bigF;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 2;
	transition: .3s linear;
}

.header__bottom--link:before{
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: $blueC;
	z-index: -1;
	transition: transform .5s;
	transform-origin: 0 0;
	transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
	transform: scaleX(0);
}

.header__bottom--link:hover:before{
	transform: scaleX(1);
}

.header__bottom--link:last-child{
	margin-right: 0;
}

/*=== Кошелек нижняя часть хедера ===*/ 

.header__bottom--payments{
	display: flex;
	align-items: center;
}

.balance__inner{
	font-family: $semiboldF;
	margin-right: 1.5rem;
	font-size: $nickF;
	max-width: 180px;
	word-break: break-all;
}


/* ================= Content ================= */

.content{
	width: 100%;
	padding: 4.5rem 0 7rem 0;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

/*=== Games ===*/

.games{
	background: $sectionB;
	border-radius: 0 1rem 1rem 0;
	padding: 2rem 2.5rem;
	display: inline-block;
	max-width: 300px;
	width: 100%;
}

.games__title, .chat__title{
	font-size: $gamesF;
	padding-bottom: 1.3rem;
	border-bottom: 1px dashed $lightgreyC;
	text-align: center;
}

.game__box{
	margin-top: 5rem;
}

/*=== Chat ===*/

.chat{
	background: $sectionB;
	border-radius: 1rem 0 0 1rem;
	padding: 2rem 2.5rem;
	display: inline-block;
	max-width: 300px;
	width: 100%;
	position: relative;
}

.chat__inner{
	height: 650px;
}

.chat__message{
	margin-top: 3rem;
	padding: 0px 1.5rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.chat__inner--text--inner{
	display: flex;
	flex-direction: column;
	max-width: 180px;
}

.chat__inner--text--box{
	display: flex;
	justify-content: space-between;
}

.chat__inner--nick{
	color: $greyC;
	margin-right: 1.5rem;
	word-break: break-all;
}

.chat__inner--time{
	color: $greyC;
}

.chat__inner--text{
	word-break: break-word;
	margin-top: .7rem;
}











/* ================= Footer ================= */ 

.footer{
	width: 100%;
	background: $sectiondarkB;
}

.footer__inner{
	padding: 4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/*=== Футерные ссылки ===*/

.footer__inner--link{
	color: $lightgreyC;
}






/* ==================== Preloader =============== */

#preloader {
  background: $sectionB;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370DB;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #BA55D3;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF00FF;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
} 


/* ================= Imports media ================= */

@import "media";