@media (max-width: 1080px) {
    .flex__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container {
        width: 100%;
        padding: 0px 10px;
    }
    .game .game-content {
        width: 100%;
    }
    .main .title-container div {
        font-size: 25px;
    }
    .main .title-name {
        width: 24%;
    }
    .promo .promo-content {
        font-size: 16px;
    }
    .tabs-content .row .appraisal span {
        margin-right: 2%;
    }
    .bookmakers-appraisal .review-btn,
    .bookmakers-appraisal .website-btn {
        padding: 2% 15%;
    }
    .tabs-content .logo {
        width: 20%;
    }
    .prediction-buy .prediction-buy-content .prediction-btn {
        padding: 1% 6%;
    }
}
@media(max-width: 1020px){
    .tabs-content .bookmakers-appraisal{
        padding: 0;
    }
    .content__flex{
        flex-direction: column;
    }
    .tabs-content .row .company, 
    .tabs-content .row .logo, 
    .tabs-content .row .appraisal, 
    .tabs-content .row .bonus, 
    .tabs-content .row .bookmakers-appraisal{
        width: 100%;
        margin-top: 10px;
    }
    .tabs-content .title-table{
        display: none;
    }
}
@media (max-width: 992px) {
    .main .title-container div {
        font-size: 23px;
    }
    .forecast__box{
        display: none;
    }
    .forecast__mobile--inner{
        display: flex;
    }
    .main .title-name {
        width: 23%;
        padding: 10px 65px 10px 65px;
    }
    .main .title-name::before {
        left: 0;
    }
    .prediction-buy .prediction-buy-content .prediction-btn {
        padding: 1% 5%;
        margin-right: -8%;
    }
}
@media(max-width: 910px){
    .team__img{
        width: 95px;
    }
    .game .team-2{
        margin-left: 25px;
    }
    .game .team-1{
        margin-right: 25px;
    }
}
@media(max-width: 810px){
    .game .team-2{
        margin-left: 0;
        width: 50%;
        order: 2;
    }
    .game .team-1{
        margin-right: 0;
        width: 50%;
        order: 1;
    }
    .game-content{
        flex-wrap: wrap;
    }
    .game-info{
        order: 3;
    }
}
@media (max-width: 800px) {
    .main .title-container div {
        font-size: 20px;
    }
    .main .title-name::before {
        background-size: 85%;
        left: 6%;
    }
    .main .title-name {
        border: none;
        text-align: center;
        margin: 0 34%;
    }
    .main .title-container {
        display: block;
    }
    .main .title-description {
        text-align: center;
        margin: 0 auto;
    }
    .game .game-info {
        text-align: center;
        padding-top: 16px;
        width: 100%;
        margin-bottom: 1%;
    }
    .header1{
        display: none;
    }
    .game .game-content {
        justify-content: space-between;
    }
    .game .team-1 {
        margin-right: 0;
        width: 33%;
    }
    .game .team-2 {
        margin-left: 0;
        width: 33%;
    }
    .prediction-buy .prediction-buy-content {
        padding: 1% 9% 1% 3%;
    }
    .prediction-buy .prediction-buy-content div {
        font-size: 15px;
    }
    .prediction-buy .prediction-buy-content .prediction-btn {
        font-size: 12px;
    }
    .prediction-buy .prediction-buy-content .prediction-btn {
        padding: 1% 3%;
        margin-right: -8%;
    }
    .promo .promo-content {
        display: block;
    }
    .promo .promo-content .tourney {
        width: 100%;
        padding: 18px 0;
        border-right: none;
    }
    .promo .promo-content .coef {
        width: 100%;
        border: none;
        margin-bottom: 2%;
        margin-left: -9%;
    }
    .promo .promo-content .price {
        width: 100%;
        margin-left: -4.5%;
    }
    .promo .promo-content .price > div:nth-child(2) {
        padding-right: 4%;
    }
    .tabs-content .scroll-table {
        text-align: center;
        display: block;
        width: initial !important;
        background: #f7f7f7;
    }
    .tabs-content .scroll-table img {
        width: 130px;
    }
    .tabs-titles .container {
        padding: 0;
    }
    body > .tabs-content .container {
        overflow-x: auto;
    }
    body > .tabs-content .container > div {
        width: 100%;
    }    
}
@media (max-width: 640px) {
    .breadcrumbs .breadcrumbs-container a, .breadcrumbs .breadcrumbs-container span {
        font-size: 15px;
    }
    .main .title-name {
        margin: 0 29%;
    }
    .main .title-description {
        text-align: center;
        margin: 0 3%;
        width: 100%;
    }
    .team-1 img,
    .team-2 img {
        width: 86px;
    }
    .game .game-info .teams {
        font-size: 16px;
    }
    .game .game-info .vs {
        font-size: 48px;
    }
    .game .game-info .game-date {
        font-size: 14px;
    }
    .game .game-info .game-start {
        padding: 3%;
    }
    .main .title {
        margin-bottom: 5%;
    }
    .game .game-content {
        margin-bottom: 5%;
    }
    .promo .promo-content .coef {
        margin-left: -11%;
    }
    .promo .promo-content .price {
        margin-left: -7.5%;
    }
    .prediction-buy .prediction-buy-content {
        display: block;
        padding: 1% 9% 1% 9%;
    }
    .prediction-buy .prediction-buy-content div {
        text-align: center;
    }
    .prediction-buy .prediction-buy-content .prediction-btn {
        padding: 1% 1% 1% 6%;
        margin-right: -8%;
        width: 37%;
        margin: 2% auto 0 auto;
    }
    .prediction-title .prediction-title-content > div {
        font-size: 16px;
    }
    .tabs-titles .tab-title {
        font-size: 17px;
    }
    .tabs-titles .tab-title.description span::before {
        background-size: 86%;
    }
    .tabs-titles .tab-title.popular-bookmakers span::before {
        background-size: 86%;
    }
    .tabs-content .tab-content.description{
        font-size: 15px;
    }
}
@media (max-width: 568px) {
    .breadcrumbs .breadcrumbs-container a, .breadcrumbs .breadcrumbs-container span {
        font-size: 14px;
    }
    .game .game-content .game-info .game-start-title {
        margin-left: 6%;
    }
    .game .game-content .game-info .game-start-title > div {
        width: 25%;
    }
    .promo .promo-content .tourney {
        margin-left: 1.5%;
    }
    .tabs-titles .tab-title {
        font-size: 15px;
    }
    .tabs-titles .tab-title span {
        padding-left: 20%;
    }
    .soon-wrapper[data-visual]>.soon-group>.soon-group-inner, .soon[data-visual]>.soon-group>.soon-group-inner{
        font-size: 1.2rem;
    }
    .fullstats__button{
        padding: 12px 40px;
    }
}
@media (max-width: 480px) {
    .breadcrumbs-container span {
        display: none !important;
    }
    .main .title-name {
        margin: 0 24%;
    }
    .main .title-description {
        margin: 0 9%;
    }
    .game .game-info {
        width: 100%;
    }
    .game .game-info .game-start {
        width: 100%;
        margin: 0 auto;
    }
    .game .game-content .game-info .game-start-title {
        margin-left: 3%;
    }
    .game .game-content .game-info .game-start-title > div {
        width: 15%;
    }
    .promo .promo-content .tourney {
        margin-left: 3.5%;
    }
    .prediction-buy .prediction-buy-content {
        padding: 1% 7%;
    }
    .prediction-buy .prediction-buy-content .prediction-btn {
        padding: 1% 1% 1% 11%;
        margin-right: auto;
        width: 52%;
    }
    .tabs-titles .tab-title span {
        margin-left: -14%;
    }
    .tabs-titles .tab-title.description span::before {
        background-size: 72%;
    }
    .tabs-titles .tab-title span::before {
        content: '';
        position: absolute;
        left: 10%;
        width: 39px;
        height: 43px;
    }
    .tabs-titles .tab-title.popular-bookmakers {
        font-size: 13px;
    }
    .tabs-titles .tab-title.popular-bookmakers span::before {
        background-size: 72%;
    }
    .tabs-titles .tab-title.popular-bookmakers span {
        padding-left: 27%;
    }
    .breadcrumbs .breadcrumbs-container a:last-of-type::after {
        display: none; 
    }
}
@media (max-width: 414px) {
    .main .title-name {
        margin: 0 15%;
    }
    .promo .promo-content .tourney {
        margin-left: 1.5%;
    }
    .promo .promo-content .coef {
        margin-left: -15.5%;
        margin-bottom: 5%;
    }
    .promo .promo-content .price {
        margin-left: -13.5%;
        margin-bottom: 5%;
    }
    .prediction-buy .prediction-buy-content .prediction-btn {
        padding: 1% 1% 1% 9%;
    }
    .tabs-titles .container {
        display: block;
    }
}
@media (max-width: 375px) {
    .promo .promo-content {
        font-size: 14px;
    }
    .game .team-1-name, 
    .game .team-2-name {
        margin-top: 5%;
    }
    .promo .promo-content {
        padding: 1% 0;
    }
    .prediction-title .prediction-title-content > div {
        font-size: 14px;
    }
}
@media (max-width: 360px) {
    .promo .promo-content {
        font-size: 13px;
    }
    .prediction-buy .prediction-buy-content .prediction-btn {
        width: 59%;
    }
}
@media (max-width: 320px) {
    .main .title-container div {
        font-size: 17px;
    }
    .main .title-name {
        margin: 0 3%;
    }
    .promo .promo-content {
        font-size: 14px;
    }
    .promo .promo-content .tourney {
        margin-left: 10.5%;
    }
    .promo .promo-content .coef {
        margin-left: -4.5%;
    }
    .promo .promo-content .price {
        margin-left: -2.5%;
    }
    .promo .promo-content > div > div:nth-child(1) {
        padding-left: 0;
    }
    .prediction-title .prediction-title-content > div {
        font-size: 12px;
    }
    .promo .promo-content .tourney-name {
        font-size: 11px;
    }
}