ul{padding:0;margin:0}*,*:after,*:before{-webkit-box-sizing:border-box;box-sizing:border-box}li{list-style-type:none}a{text-decoration:none;color:#000}.button{outline:none;background:#f4504b;border:none;cursor:pointer;-webkit-transition:.2s linear;transition:.2s linear}.button:hover{background:#f33933}.container{width:1370px;margin:0 auto}.red{color:#ff524d}.blue{color:#79a1d6}.small{font-size:1.6rem}.header{position:fixed;width:100%;z-index:100;background:#fff;padding:15px 0}.header__inner{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.menu__icon{display:none}.profile__logo{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.header__profile{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.profile__user{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;margin-right:20px}.profile__arrow{cursor:pointer;font-size:1.5rem;color:grey;margin-left:10px}.profile__name{font-family:MontserratBold,sans-serif;font-size:3rem;color:#fff;padding:3px 40px;background:#f4504b;border-radius:25px}.profile__console{margin-top:10px;font-size:2rem;font-family:MontserratBold,sans-serif;color:rgba(0,0,0,0.86)}.menu__icon{fill:#000;height:30px;width:30px;cursor:pointer;-webkit-transition:.3s linear;transition:.3s linear}.menu__icon:hover{fill:#f4504b}.header{position:fixed;width:100%;z-index:100;background:#fff;padding:15px 0}.header__menu--inner{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.header__menu--link{color:#000;font-size:1.9rem;font-family:MontserratMedium,sans-serif;margin-right:60px}.header__menu--link:last-child{margin-right:0}.login{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.header__enter{font-size:1.2rem;color:#000;margin-right:15px;font-family:MontserratBold,sans-serif}.header__register{padding:8px 17px;font-size:1.2rem;background:#f4504b;color:#fff;border-radius:15px;font-family:MontserratBold,sans-serif;-webkit-transition:.2s linear;transition:.2s linear}.header__register:hover{background:#f33933}.forecast__mobile--top,.forecast__mobile--bottom{height:35px;border-radius:15px 15px 0 0;background:#596078;width:100%}.forecast__mobile--bottom{border-radius:0 0 15px 15px}.forecast__mobile--middle{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background:#fff;padding-bottom:15px;width:100%}.forecast__mobile--button{color:#fff;margin-top:20px}.forecast__middle--inner{width:100%}.inner__free{display:none}.inner__free.free__inner{display:block}.middle__item{padding:10px 30px;border-bottom:1px solid #e8e8e8;width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.middle__item--title,.middle__item--text,.bold,.ball{font-family:MontserratBold,sans-serif;color:#5c647c;fill:#5c647c;font-size:2rem}.ball{width:25px;height:25px;margin-right:10px}.middle__item--text{font-family:MontserratSemibold,sans-serif;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;max-width:350px;text-align:right}.price__mobile{fill:#5c647c;width:80px;height:48px}.title{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.title__inner{width:760px}.title__title{text-transform:uppercase;font-size:3.8rem;font-family:MontserratBold,sans-serif;color:#fff;line-height:1.3em}.title__text{margin:75px 0 0 55px;color:#fff;font-size:2rem}.title__online{margin:75px 0 0 115px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.online{width:40px;height:40px;border-radius:50%;background:#304c41;margin-right:25px;position:relative}.online:before{content:"";display:block;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);width:20px;height:20px;background:#30b051;border-radius:50%}.online__text{font-size:2.3rem;color:#fff}.modal__menu--item.profile__item{display:none}.forecast{padding:45px 0px 64px;background:url(../img/forecast-bg.jpg) center no-repeat;background-size:cover}.forecast__title{font-family:MontserratBold,sans-serif;font-size:3.8rem;color:#000;text-transform:lowercase;text-align:center}.forecast__inner{margin-top:40px}.forecast__box{width:100%;background:#f7f7f7;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.forecast__list{padding:24px 0 24px 35px;border-bottom:2px solid #e8e8e8;font-family:MontserratLight,sans-serif;font-size:1.5rem;-webkit-box-shadow:0 0 1px #000;box-shadow:0 0 1px #000}.forecast__bg{background:#323845}.forecast__bg-2{background:#5c647c}.forecast__category{padding:14px 0 14px 35px}.forecast__mobile--inner{display:none;margin-top:70px}.money__inner{display:none}.forecast__last{width:100%;height:10px}.categori{font-size:1.4rem;color:#fff}.view{width:100px}.sports{width:115px;text-align:center}.match{width:320px;text-align:center}.koef{width:124px;text-align:center}.time{width:200px;text-align:center}.price{width:170px;text-align:center}.status{width:170px;text-align:center}.button__views{background:transparent;padding:4px 23px;border:1px solid #9cd0a7;border-radius:15px;min-width:142px;-webkit-transition:.2s linear;transition:.2s linear}.button__views:hover{background:#9cd0a7;color:#fff}.forecast__stats--text{margin-top:85px;font-size:2.8em}.stats__inner{margin-top:60px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-pack:distribute;justify-content:space-around}.stats__item{padding:10px 40px;background:#fff;border:3px solid #f4504b;border-radius:55px 25px;max-width:250px;min-width:249px}.stats__number{font-size:3.5rem;color:#f4504b;font-family:MontserratMedium,sans-serif}.stats__text{font-size:2.3em;color:#4a4a4a;font-family:MontserratMedium,sans-serif}.checkbox__inner{margin-top:75px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.checkbox__text{font-size:2.7rem;font-family:MontserratBold,sans-serif;text-transform:lowercase;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;letter-spacing:.4rem}.checkbox__text--money{margin-right:40px}.checkbox__text--free{margin-left:40px}.money{margin-right:15px}.free{margin-left:15px}.checkbox{background:transparent;border-radius:20px;border:1px solid #f4504b;padding:14px 51px;position:relative;cursor:pointer}.checkbox:before{content:"";display:block;position:absolute;top:2px;right:2px;width:24px;height:24px;border-radius:50%;background:#f4504b}.money__checkbox.checkbox:before{content:"";display:block;position:absolute;top:2px;left:2px;width:24px;height:24px;border-radius:50%;background:#f4504b}.checkbox__red{color:#f4504b}.checkbox__grey{color:#b0b0b0}.icon--grey{fill:#b0b0b0}.icon--black{fill:#000}.buy__button{border:1px solid #f4504b}.buy__button:hover{background:#f4504b}.fullstats__btn{margin-top:50px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.fullstats__button{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;color:#fff;font-size:14px;font-family:MontserratMedium,sans-serif;padding:14px 70px;border-radius:35px 20px}.enter__icon{margin-left:10px}.cards{padding:135px 0px 235px 0;background:url(../img/cards-bg.jpg) center no-repeat;background-size:cover}.white__title{color:#fff}.cards__inner{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-top:60px;-ms-flex-pack:distribute;justify-content:space-around}.cards__item{padding:20px 27px;border-radius:10px;background:#fff;border:1px solid #f4504b;width:20%;position:relative}.cards__item--title{font-size:1.9rem;font-family:MontserratBold,sans-serif;color:#000;text-align:center}.cards__desc__inner{margin-top:95px}.desc__item{font-size:1.4rem;color:#949494;font-family:MontserratMedium,sans-serif;margin-top:10px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.cards__price{font-size:2.9rem;color:#f4504b;font-family:MontserratSemibold,sans-serif;text-align:center;margin-top:80px;position:relative}.cards__buy--btn{margin-top:20px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.cards__buy--button{font-size:1.9rem;font-family:MontserratBold,sans-serif;color:#fff;padding:6px 0;width:100%;border-radius:10px;text-transform:lowercase}.del{font-size:2rem;position:absolute;top:-10px;right:5px}.cards__stiker{position:absolute;top:65px;left:-25px;padding:7px 60px;border-radius:13px;font-size:1.9rem;color:#fff;font-family:MontserratBold,sans-serif}.stiker-1{background:#f4504b}.stiker-2{background:#87b28f}.stiker-3{background:#8c2406}.stiker-4{background:#ceb24f}.cards__icon{width:20px;margin-right:10px}.pay__inner{padding:27px 32px;background:#fff;border-radius:30px;margin:100px auto 0 auto;width:95%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.pay__logo{display:-webkit-box;display:-ms-flexbox;display:flex;width:45%;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;margin-right:50px}.pay__text{width:55%;font-size:1.4rem;color:#000;line-height:1.3}.bold{font-family:MontserratBold,sans-serif}.news__block--inner{display:-webkit-box;display:-ms-flexbox;display:flex;margin-top:230px;-webkit-perspective:10000px;perspective:10000px}.news__block{width:50%;background:#fff;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;padding:100px 20px 50px 20px;-webkit-transition:.2s linear;transition:.2s linear}.news__block:hover{-webkit-transform:translateZ(500px) translateY(-50px);transform:translateZ(500px) translateY(-50px);-webkit-box-shadow:0px 14px 73px 0px rgba(2,3,6,0.26);box-shadow:0px 14px 73px 0px rgba(2,3,6,0.26)}.news__block--box{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.news__block--title{margin-top:25px;color:#000;font-size:3rem;font-family:MontserratBold,sans-serif;text-transform:uppercase}.news__block--text{font-size:1.7rem;margin-top:35px}.right__m{margin-left:220px}.right__l{margin-right:220px}.news__block--btn{width:100%;margin-top:30px}.news__block--button{padding:5px 30px;margin-left:50px}.free__block{padding:195px 0px 265px 0;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.free__block--inner{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.free__block--inner:nth-child(1){margin-right:100px}.free__content{margin-left:70px}.free__title{text-transform:uppercase;color:#fff;font-family:MontserratBold,sans-serif;font-size:2.7rem}.free__text{width:360px;color:#fff;font-size:1.7rem;font-family:MontserratMedium,sans-serif;margin-top:30px}.vk{margin-right:7px}.free__button{margin-top:20px;-webkit-transition:.2s linear;transition:.2s linear;font-size:1.3rem;color:#fff;font-family:MontserratMedium,sans-serif;background:#79a1d6;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:5px 10px;border-radius:5px}.free__button:hover{background:#5a8bcc}.support{padding:85px 0 85px 45px;border-left:4px solid #6e7176}.support__email{margin-top:20px;color:#fff;font-family:MontserratMedium,sans-serif;font-size:1.7rem}.support__btns{margin-top:30px}.support__button{font-size:2rem;color:#fff;font-family:MontserratMedium,sans-serif;margin-right:25px;border-radius:25px;padding:7px 25px}.sale{width:100%;height:232px;background:url(../img/react.jpg) center no-repeat;background-size:cover;position:relative}.sale__inner{padding:20px 0px 40px 0;position:absolute;top:-80px;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);width:100%;height:330px;background:url(../img/sale.jpg) bottom no-repeat;background-size:cover;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.sale__title{font-size:3.8rem;color:#000;font-family:MontserratBold,sans-serif}.sale__img{margin-top:30px}.sale__button{margin-top:20px;padding:6px 20px}.menu__icons{font-size:2rem;-webkit-transition:.3s linear;transition:.3s linear}.menu__icons:hover{color:#f4504b}.stats__box{width:25%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.mobile{display:none}.modal__menu{background:#fff;position:fixed;top:0;left:0;width:430px;z-index:1000;border-radius:0 10px 10px 0;padding-bottom:150px;-webkit-transform:translateX(-100%);transform:translateX(-100%);-webkit-transition:.3s linear;transition:.3s linear}.menu__none{-webkit-transform:translateX(0%);transform:translateX(0%)}.modal__menu--iconin{padding:20px 35px}.modal__menu--item{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;border-top:3px solid #ebebeb;padding:15px 35px;color:#464646;font-size:2rem;cursor:pointer;text-transform:lowercase;-webkit-transition:.2s linear;transition:.2s linear}.modal__menu--item:hover{background:#f4504b;color:#fff}.modal__menu--item:hover .modal__menu--icon{fill:#fff}.modal__menu--icon{width:35px;height:35px;fill:#000;margin-right:20px;-webkit-transition:.2s linear;transition:.2s linear}.after__item:after{content:"1";display:block;width:17px;height:17px;background:#4895fa;border-radius:50%;font-family:MontserratMedium,sans-serif;font-size:1rem;color:#fff;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:relative;right:-5px;top:-5px}@media (max-width: 1400px){.container{width:1180px}}@media (max-width: 1200px){.container{width:970px}.header__nav--inner{display:none}.menu__icon{display:block}.stats__inner{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-ms-flex-wrap:wrap;flex-wrap:wrap}.stats__box{width:50%}.stats__item{margin-top:30px}.cards__inner{-ms-flex-wrap:wrap;flex-wrap:wrap}.cards__item{width:45%;margin-top:40px}.free__block{padding:50px 0px 80px 0}.free__block--inner:nth-child(1){margin-right:20px}.footer__img{width:150px}.right__l,.right__m{margin:0}.mobile{display:none;font-family:MontserratBold,sans-serif;color:#000;font-size:1.5rem}.profile__img{width:65px}.logo{width:160px}.header__logo{width:160px}.profile__name{font-size:2rem;padding:5px 20px}.profile__console{font-size:1.5rem}}@media (max-width: 992px){.container{width:748px}.title__title{font-size:2.5rem}.title__text{font-size:1.7rem;margin:30px 0px 0px 30px;text-shadow:0 0 4px #000}.title__text{margin:30px 0px 0px 50px}.online__text{font-size:2rem}.forecast__mobile--inner{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.money__inner{display:none}.forecast__last,.forecast__list{display:none}.mobile{display:block;margin-top:10px}.forecast__list{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;text-align:center;margin-top:45px;padding:20px 0}.forecast__category{display:none}.status{margin-top:10px}.news__block--text{font-size:1.4rem}.news__block--title{font-size:2.3rem}.footer__img{display:none}.free__content{margin:0;text-align:center}.free__button{margin:20px auto}.title__title{text-shadow:0 0 5px #000}.pay__img{width:90px}.pay{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-right:10px}}@media (max-width: 768px){.container{width:460px}.menu__icon{display:-webkit-box;display:-ms-flexbox;display:flex}.middle__item--text{max-width:240px}.header__profile{display:none}.modal__menu{width:100%;min-height:100vh}.pay__logo{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.title__title{font-size:1.8rem;text-align:center}.title__text,.title__online{margin:20px 0 0 0}.title__inner{width:100%}.forecast__title{font-size:2.5rem}.stats__item{padding:10px 20px}.stats__item{min-width:180px;max-width:181px}.stats__text{font-size:1.6rem}.stats__number{font-size:2rem}.cards__item{width:85%}.free__block{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.support{border:none;padding:0 0 20px 0;text-align:center;margin-top:20px}.checkbox__inner{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.checkbox{margin-top:20px}.news__block{width:100%}.news__block--inner{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.sale__title{font-size:2.5rem}.sale__img{width:300px}.checkbox__text{font-size:2.2rem}.modal__menu--item{padding:10px 35px;font-size:1.5rem}.middle__item--title,.middle__item--text,.bold,.ball{font-size:14px}.ball{width:15px;height:15px}}@media (max-width: 480px){.container{width:300px}.middle__item--text{max-width:170px}.modal__menu--item.profile__item{display:-webkit-box;display:-ms-flexbox;display:flex}.pay__logo{margin-right:5px}.header__register{font-size:1.1em;padding:6px 13px;display:-webkit-box;display:-ms-flexbox;display:flex}.pay__inner{margin:100px 0px 0px 0px;width:100%}.login{display:none}.stats__box{width:100%}.stats__inner{margin-top:20px}.forecast__title{font-size:2.1rem}.free__block--inner{margin:0}.free__text{width:100%}.sale__img{width:250px}.cards{padding:135px 0 0 0}}


@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat-Light.woff') format('woff'),
        url('../fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff'),
        url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.woff2') format('woff2'),
        url('../fonts/Montserrat-Thin.woff') format('woff'),
        url('../fonts/Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* START TOOLTIP STYLES */
[data-tooltip] {
    position: relative; /* opinion 1 */
  }
  
  /* Applies to all tooltips */
  [data-tooltip]::before,
  [data-tooltip]::after {
    text-transform: none; /* opinion 2 */
    font-size: .7em; /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
  }
  [data-tooltip]::before {
    content: '';
    border: 5px solid transparent; /* opinion 4 */
    z-index: 1001; /* absurdity 1 */
  }
  [data-tooltip]::after {
    content: attr(data-tooltip); /* magic! */
    
    /* most of the rest of this is opinion */
    font-family: Helvetica, sans-serif;
    text-align: center;
    
    /* 
      Let the content set the size of the tooltips 
      but this will also keep them from being obnoxious
      */
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #ff524d;
    color: #fff;
    z-index: 1000; /* absurdity 2 */
  }
  
  /* Make the tooltips respond to hover */
  [data-tooltip]:hover::before,
  [data-tooltip]:hover::after {
    display: block;
  }
  
  /* don't show empty tooltips */
  [tooltip='']::before,
  [tooltip='']::after {
    display: none !important;
  }
  
  /* FLOW: UP */
  [data-tooltip]:not([data-flow])::before,
  [data-tooltip][data-flow^="up"]::before {
    bottom: 25px;
    border-bottom-width: 0;
    border-top-color: #ff524d;
  }
  [data-tooltip]:not([data-flow])::after,
  [data-tooltip][data-flow^="up"]::after {
    bottom: calc(100% + 15px);
  }
  [data-tooltip]:not([data-flow])::before,
  [data-tooltip]:not([data-flow])::after,
  [data-tooltip][data-flow^="up"]::before,
  [data-tooltip][data-flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
  }
  
  /* FLOW: DOWN */
  [data-tooltip][data-flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
  }
  [data-tooltip][data-flow^="down"]::after {
    top: calc(100% + 5px);
  }
  [data-tooltip][data-flow^="down"]::before,
  [data-tooltip][data-flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
  }
  
  /* FLOW: LEFT */
  [data-tooltip][data-flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #333;
    left: calc(0em - 5px);
    transform: translate(-.5em, -50%);
  }
  [data-tooltip][data-flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em, -50%);
  }
  
  /* FLOW: RIGHT */
  [data-tooltip][data-flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #ff524d;
    right: calc(0em - 15px);
    transform: translate(.5em, -50%);
  }
  [data-tooltip][data-flow^="right"]::after {
    top: 50%;
    left: calc(100% + 15px);
    transform: translate(.5em, -50%);
  }
  
  /* KEYFRAMES */
  @keyframes tooltips-vert {
    to {
      opacity: .9;
      transform: translate(-50%, 0);
    }
  }
  
  @keyframes tooltips-horz {
    to {
      opacity: .9;
      transform: translate(0, -50%);
    }
  }
  
  /* FX All The Things */ 
  [data-tooltip]:not([data-flow]):hover::before,
  [data-tooltip]:not([data-flow]):hover::after,
  [data-tooltip][data-flow^="up"]:hover::before,
  [data-tooltip][data-flow^="up"]:hover::after,
  [data-tooltip][data-flow^="down"]:hover::before,
  [data-tooltip][data-flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
  }
  
  [data-tooltip][data-flow^="left"]:hover::before,
  [data-tooltip][data-flow^="left"]:hover::after,
  [data-tooltip][data-flow^="right"]:hover::before,
  [data-tooltip][data-flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
  }
body {
    margin: 0;
    font-family: 'Montserrat';
    background-color: #303543;
    overflow-x: hidden;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
ul {
    margin: 0;
    padding: 0;
}
.header1 img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1230px;
    position: relative;
}
.breadcrumbs {
    background-color: #ff524d;
}
.breadcrumbs .breadcrumbs-container {
    display: flex;
    justify-content: center;
}
.breadcrumbs .breadcrumbs-container a,
.breadcrumbs .breadcrumbs-container span {
    position: relative;
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    letter-spacing: 2.8px;
    margin: 13px 10px;
}
.breadcrumbs .breadcrumbs-container a:hover {
    text-decoration: underline;
}
.breadcrumbs .breadcrumbs-container a::after {
    content: "/";
    position: absolute;
    right: -13px;
    bottom: 0;
}
.main {
    padding-top: 23px;
    background-color: #303543;
}
.main .title {
    box-shadow: 0 0 43px 7px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: #323845;
    margin-bottom: 49px;
}
.main .title-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px 16px 40px;
}
.main .title-container div {
    color: #ffffff;
    font-size: 30px;
}
.main .title-name {
    letter-spacing: 2.8px;
    font-weight: bold;
    position: relative;
    padding: 10px 64px 10px 86px;    
    border-right: 2px solid #fff;
    width: 25%;
}
.main .title-description {
    padding: 10px 44px 10px 0;
    font-weight: 500;
    letter-spacing: 3.8px;
}
.main .title-name::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 17px;    
    width: 42px;
    height: 42px;
    background: url("../img/football.png") no-repeat;
}
.game .game-content {
    max-width: 1120px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #353a49;
    margin-bottom: 53px;
    padding: 25px 10px;
}
.game .game-info {
    text-align: center;
    padding-top: 16px;
}
.game .game-info .teams {
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 2.22px;
}
.game .game-info .vs {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.game .game-info .game-date {
    color: #ffffff;
    font-size: 21px;
    font-weight: 300;
    letter-spacing: 2.6px;
    margin-bottom: 14px;
}
.game .game-info .game-start {
    border-radius: 10px;
    background-color: #2f3541;
    padding: 0;
    display: flex;
    justify-content: center;
}
.game .game-content .game-info .game-start-time {
    display: flex; 
    justify-content: space-between;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}
.game .game-info .game-start-time div {
    padding: 7px;
} 
.game .game-info .game-start-time .start-time {
    border-radius: 4px;
    background-color: #ff524d;
    font-weight: 900;
}
.game .game-info .game-start-time .colon {
    margin: 0;
    margin-left: -7px;
}
.game .game-content .game-info .game-start-title {
    margin-top: 10px;
    display: flex; 
    justify-content: space-between;
    font-size: 10px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.72px;
    margin-left: 30px;
    margin-right: 14px;
}
.game .game-content .game-info .start-time-title-hours {
    margin-left: 20px;
}
.game .team-1 {
    margin-right: 10%;
    text-align: center;
    padding: 30px 0;
}
.game .team-2 {
    margin-left: 10%;
    text-align: center;
    padding: 30px 0;
}
.game .team-1-name,
.game .team-2-name {
    margin-top: 40px;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 1.12px;
}

span.soon-group.soon-group-sub{
    display: table-cell!important;
}
.promo .promo-content {
    box-shadow: 0 0 43px 7px rgba(0, 0, 0, 0.2);
    border-radius: 20px 20px 0 0;
    background-color: #323845;
    display: flex;
    justify-content: space-between;
    position: relative;
    font-weight: 300;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 1.22px;
    padding: 20px 0;
}
.promo .promo-content > div {
    align-items: center;
    display: flex;
    position: relative;
    justify-content: center;
    width: 28%;
}
.promo .promo-content > div > div:nth-child(1) {
    padding-left: 20px; 
}
.promo .promo-content > div > div:nth-child(2) {
    padding: 0 20px;
}
.promo .promo-content > div > div:nth-child(3) {
    padding-right: 25px;
}
.promo .promo-content .tourney {
    border-right: 2px solid #ff524d;
    width: 41%;
    padding: 18px 0;
}
.promo .promo-content .coef {
    border-right: 2px solid #ff524d;
    padding: 18px 0;
    justify-content: center;
    width: 27%;
}
.promo .promo-content .price {
    width: 32%;
}
.promo .promo-content .price > div:nth-child(1) {
    margin-left: -10%;
}
.promo .promo-content .price > div:nth-child(2) {
    padding-right: 20%;
}
.prediction-buy .prediction-buy-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 12px 96px 11px 48px;
}
.prediction-buy .prediction-buy-content div {
    color: #ff524d;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.84px;
}
.prediction-buy .prediction-buy-content .prediction-btn {
    display: block;
    border-radius: 7px;
    border: 1px solid #cccccc;
    background-color: #ff524d;
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.35px;
    padding: 8px 100px;
    transition: .3s linear all;
}
.prediction-buy .prediction-buy-content .prediction-btn:hover {
    color: #fff;
    background-color: #e32336;
}
.prediction-title .prediction-title-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #5c647c;
    padding-top: 20px;
    padding-bottom: 14px;
}
.prediction-title .prediction-title-content > div {
    width: 49%;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 1.68px;
    color: #ffffff;
    text-align: center;
}
.tooltip-container {
    position: relative;
    display: inline-block;
}
.tooltip-container .tooltip {
    background: url('../img/tooltip-ico.png') no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    right: -20px;
    top: -9px;
    cursor: pointer;
}
.tabs-titles {
    position: relative;
    z-index: 5;
}
.tabs-titles .container {
    background-color: #323845;    
    display: flex;
    justify-content: space-between;
}
.tabs-titles .tab-title {
    width: 100%;
    text-align: center;
    font-size: 21px;
    font-weight: 400;
    color: #fff;    
    cursor: pointer;
    padding: 15px 0 20px;    
    border-bottom: 5px solid transparent;
}
.tabs-titles .tab-title span {
    position: relative;
    padding-left: 60px;
    height: 39px;
    display: inline-block;
    line-height: 48px; 
}
.tabs-titles .tab-title span:before {
    content: '';
    position: absolute;
    left: 0;
    width: 39px;
    height: 43px;
}
.tabs-titles .tab-title.description {
    margin-right: 5px;
}
.tabs-titles .tab-title.description span:before {
    background: url('../img/ico_description.png') no-repeat;
}
.tabs-titles .tab-title.popular-bookmakers span:before {
    background: url('../img/ico_popular-bookmakers.png') no-repeat;
}
.tabs-titles .tab-title.active,
.tabs-titles .tab-title:hover {
    border-bottom: 5px solid #ff524d;
}
.tabs-content .tab-content {
    display: none;
}
.tabs-content .tab-content.active {
    display: block;
}
.tabs-content .scroll-table {
    display: none;
}
.tabs-content .tab-content.description {
    box-shadow: 0 0 43px 7px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 20px 20px;
    background-color: #ffffff;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 1.68px;
    padding: 30px;
    text-align: justify;
}
.tabs-content .tab-content.description p:first-child {
    margin-bottom: 102px;
}
.tabs-content {
    padding-bottom: 180px;
}
.tabs-content .scroll-table {
    display: none;
}
.tabs-content .row {
    display: flex;
    justify-content: space-between;
}
.tabs-content .row > * {
    flex: none;
}
.tabs-content .title-table {
    background-color: #5c647c;
    color: #fff;
    padding: 10px 15px 10px 35px;
    letter-spacing: 1.04px;
    font-size: 13px;
}
.tabs-content .company {
    width: 12%;
    text-align: center;
}
.tabs-content .logo {
    width: 13%;
    text-align: center;
}
.tabs-content .appraisal {
    width: 18%;
}
.tabs-content .bonus {
    width: 13%;
    text-align: center;
}
.tabs-content .bookmakers-appraisal {
    display: block;
    color: #fff;
    padding-right: 35px;
}
.tabs-content .bookmakers-appraisal:hover {
    text-decoration: none;
}
.tabs-content .bookmakers-appraisal .tooltip-container .tooltip {
    top: -7px;
}
.tabs-content .row.content {
    align-items: center;
    padding: 15px;
    background-color: #f7f7f7;
    border-bottom: 2px solid #e8e8e8;
}
.tabs-content .row.content:last-child {
    border-radius: 0 0 20px 20px;
}
.tabs-content .row .appraisal {
    display: flex;
    text-align: center;
    justify-content: center;
}
.tabs-content .row .appraisal div {
    color: #ed8a19;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.2px;
    margin-left: 15px;
}
.tabs-content .row .appraisal span {
    margin-right: 9px;
}
.tabs-content .row .appraisal .fill {
    display: block;
    width: 19px;
    height: 19px;
    background: url("../img/polygon-fill.png") no-repeat;
}
.tabs-content .row .appraisal .empty {
    display: block;
    width: 19px;
    height: 19px;
    background: url("../img/polygon-empty.png") no-repeat;
}
.tabs-content .row .bonus span {
    color: #ff524d;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1.76px;
}
.tabs-content .row .bonus img {
    width: 19px;
    height: 19px;
    margin-right: 5px;
}
.tabs-content .row .bookmakers-appraisal {
    display: flex;
    width: 32%;
    text-align: center;
    position: relative;
    justify-content: center;
}
.bookmakers-appraisal .review-btn {
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.35px;
    border-radius: 7px;
    border: 2px solid #ff524d;
    padding: 7px 50px 7px 59px;
    margin-right: 29px;
    transition: .2s linear all;
}
.bookmakers-appraisal .review-btn:hover {
    background-color: #ff524d;
    color: #fff;
}
.bookmakers-appraisal .website-btn {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.35px;
    border-radius: 7px;
    border: 1px solid #cccccc;
    background-color: #ff524d;    
    padding: 8px 57px 10px 66px;
    transition: .2s linear all;
}
.bookmakers-appraisal .website-btn:hover {
    color: #fff;
    background-color: #e32336;
}
.modal-window {
    position: fixed;
    left: 50%;
    margin-left: -270px;
    top: 10%;
    z-index: 105;
    width: 540px;
    display: none;
}
.modal-window .close {
    cursor: pointer;
    position: absolute;
    width: 16px;
    height: 16px;
    background: url('../img/close-modal.png');
    right: 15px;
    top: 15px;
}
.modal-prediction {
    background: #fff;
}
.modal-prediction .title {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    padding: 20px 0 25px;
    text-align: center;
}
.modal-prediction .tabs-title {
    display: flex;
}
.modal-prediction .tabs-title div {
    width: 50%;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: #cccccc;
    cursor: pointer;
    letter-spacing: 1.04px;
    padding: 7px 0;
    border-bottom: 5px solid transparent;
}
.modal-prediction .tabs-title .active {
    cursor: default;
    color: #ff524d;
    border-color: #ff524d;
}
.modal-prediction .tab-content {
    display: none;
    padding: 61px 68px 48px 92px;    
    min-height: 360px;
}
.modal-prediction .tab-content.active {
    display: block;
}
.modal-prediction .row-modal {
    display: flex;
    margin-bottom: 30px;
}
.modal-prediction .row-modal:last-child {
    margin-bottom: 64px;
}
.modal-prediction .row-modal .parameter {
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1.12px;
    padding-right: 50px;
    width: 79%;
}
.modal-prediction .row-modal .value {
    color: #ff524d;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1.12px;
}
.modal-prediction .prediction-buy-modal {
    display: block;
    border-radius: 4px;
    border: 1px solid #cccccc;
    background-color: #ff524d;
    color: #ffffff;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-decoration: none;
    width: 229px;
    padding: 14px 60px;
    margin: 0 auto;
    transition: .2s linear all;
}
.modal-prediction .prediction-buy-modal:hover {
    background-color: #e32336;
}
.modal-prediction .statistics-view {
    display: block;
    color: #ff524d;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.8px;
    margin: 0 auto;
    margin-top: 13px;
    text-align: center;
}
.modal-prediction .statistics-view:hover {
    text-decoration: none;
}

.forecast__box{
    width: 100%;
    background: #f7f7f7;
    display: flex;
    align-items: center;
}

.forecast__list{
    padding: 24px 0 24px 35px;
    border-bottom: 2px solid #e8e8e8;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    box-shadow: 0 0 1px $black;
}

.button{
    outline: none;
    background: #f4504b;
    border: none;
    cursor: pointer;
    transition: .2s linear;
}

.forecast__bg{
    background: #323845;
}

.forecast__bg-2{
    background: #5c647c;
}

.forecast__category{
    padding: 14px 0 14px 35px;
}

.forecast__mobile--inner{
    display: none;
    margin-top: 70px;
}

.money__inner{
    display: none;
}

.forecast__last{
    width: 100%;
    height: 10px;
}

.categori{
    font-size: 15px;
    color: #fff;
}

.view{
    width: 100px;
}

.sports{
    width: 115px;
    text-align: center;
}

.game-1{
    width: 140px;
    text-align: center;
}

.match{
    width: 320px;
    text-align: center;
}

.koef{
    width: 124px;
    text-align: center;
}

.time{
    width: 200px;
    text-align: center;
}

.price{
    width: 170px;
    text-align: center;
}

.status{
    width: 170px;
    text-align: center;
}

.button__views{
    background: transparent;
    padding: 4px 23px;
    border: 1px solid #9cd0a7;
    border-radius: 15px;
    min-width: 142px;
    transition: .2s linear;
}

.button__views:hover{
    background: #9cd0a7;
    color: #fff;
}